{{!--
	"title"						: "Brand",
	"public"					: false,
	"framework"					: true,
	"master"					: "master-framework",
	"body_class"				: "fw"
--}}

<h1 class="fw-title">{{title}}</h1>
<p>[TODO] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore hic, voluptatibus, assumenda dolore alias repudiandae quia est reiciendis obcaecati veniam itaque cupiditate eius dicta ipsa, nulla debitis iure consectetur quidem.</p>

{{#if styles.variables}}
<h1 class="fw-title h2">Primary Colours</h1>
<div class="grid grid--gutters grid--3@md grid--5@lg">
	{{#each styles.variables}}
		{{#equal this.group 'primary-colour' }}
			<div class="grid__item">
				<div class="fw-card">
					<div class="container fw-card__container">
						<div class="fw-preview fw-preview--colour fw-card__preview" style="background-color:{{hex}};"></div>
						<dl class="fw-details fw-card__details">
							<dt>{{title}}</dt>
							<dd><code>{{_name}}</code></dd>
							<dd><code>{{hex}}</code></dd>
							<dd><code>rgb({{rgb.r}}, {{rgb.g}}, {{rgb.b}})</code></dd>
						</dl>
					</div>
				</div>
			</div>
		{{/equal}}
	{{/each}}
</div>
{{/if}}

{{#if fonts}}
<h1 class="fw-title h2">Fonts</h1>
<div class="grid grid--gutters grid--2@lg">
{{#each fonts}}
	<div class="grid__item">
		<div id="{{fid true}}" class="fw-card">
			<div class="container fw-card__container">
				<div class="fw-preview fw-preview--font fw-card__preview">
					<div class="">
						Aa
					</div>
					<div class="">
						ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
						abcdefghijklmnopqrstuvwxyz<br>
						1234567890(,.;:?!$&amp;*)
					</div>
				</div>
				<dl class="fw-details fw-details--inline fw-card__details">
					<dt>{{family}}</dt>
					<dt>Weight</dt>
					<dd>{{weight}}</dd>
					<dt>Style</dt>
					<dd>{{style}}</dd>
				</dl>
			</div>
			<style>
				#{{fid}} .fw-preview
				{
					font-weight		: {{weight}};
					font-style		: {{style}};
					font-family		: {{family}};
				}
			</style>
		</div>
	</div>
{{/each}}
</div>
{{/if}}

{{#if icons}}
<h1 class="fw-title h2">Icons</h1>
<div class="grid grid--gutters grid--3@md grid--6@lg">
	{{#each icons}}
	<div class="grid__item">
		<div class="fw-card fw-card--icon">
			<div class="container fw-card__container">
				<div class="fw-preview fw-preview--icon fw-card__preview">
					{{icon @key}}
					<div>
						<span class="label">{{@key}}</span>
					</div>
				</div>
				<!--
				<dl class="fw-details fw-card__details">
					<dt>{{display}}</dt>
				</dl>
				-->
			</div>
		</div>
	</div>
	{{/each}}
</div>
{{/if}}

