{{!--
	"title"						: "JS Docs",
	"public"					: false,
	"framework"					: true,
	"master"					: "master-framework",
	"body_class"				: "fw"
--}}

<h1 class="fw-title">{{title}}</h1>
<p>[TODO] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore hic, voluptatibus, assumenda dolore alias repudiandae quia est reiciendis obcaecati veniam itaque cupiditate eius dicta ipsa, nulla debitis iure consectetur quidem.</p>
