{{!--
	"title"						: "Error",
	"public"					: false,
	"framework"					: true,
	"master"					: "master",
	"body_class"				: "fw"
--}}

<div class="banner banner--xl tmp-dark">
	<div class="container container--lg banner__container">
		<div class="body banner__body">
			<div class="content banner__content align-center">
				<h1 class="fw-title">{{title}} {{status}}</h1>
				<p>{{message}}</p>
			</div>
		</div>
	</div>
</div>
