{{!--
	"title"						: "Module",
	"public"					: false,
	"framework"					: true,
	"master"					: "master-framework-blank",
	"body_class"				: "fw fw-template-blank"
--}}

<div class="container container--left">
	{{#unless _module_path}}
		<h1 class="fw-title">{{title}}</h1>
		<p>[TODO] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore hic, voluptatibus, assumenda dolore alias repudiandae quia est reiciendis obcaecati veniam itaque cupiditate eius dicta ipsa, nulla debitis iure consectetur quidem.</p>
	{{else}}
		<h1 class="fw-title">{{title}} {{module.title}}</h1>
		{{> (lookup . '_module_path') }}
	{{/unless}}
</div>
