{{!--
	"title"						: "Styleguide",
	"public"					: false,
	"framework"					: true,
	"master"					: "master-framework",
	"body_class"				: "fw"
--}}

{{#extend "sidenav"}}
	<nav class="nav nav--tmp nav--tmp-spaced">
		<ul class="nav__level nav__level-1">
		{{#each styles.sections-nav}}
			{{#ifCond url '!=' '/styleguide/note/'}}
			<li class="nav__item {{#ifCond url '==' ../path}}active{{/ifCond}} {{#if children}}nav__children{{/if}}">
				<a href="{{url}}">
					<span class="nav__text">{{fallback display name}}</span>
				</a>
				{{#if children}}
					<ul class="nav__level nav__level-2">
						{{#each children}}
						<li class="nav__item {{#ifCond url '==' ../../path}}active{{/ifCond}}">
							<a href="{{url}}"><span class="nav__text">{{fallback display name}}</span></a>
						</li>
						{{/each}}
					</ul>
				{{/if}}
			</li>
			{{/ifCond}}
		{{/each}}
		</ul>
	</nav>
{{/extend}}

{{#*inline "mainview"}}

<div id="{{slugify _group}}-{{slugify title}}" style="padding-bottom:3rem;margin-bottom:3rem;border-bottom:1px solid #ccc;">
	<!-- Documented Item Title -->
	<h2 class="fw-title h3">
		<span class="media">
			<span class="media__figure">
				<a href="#{{slugify _group}}-{{slugify title}}">
					{{icon 'link' 'sm'}}
				</a>
			</span>
			<span class="media__body">
				{{title}}
			</span>
		</span>
	</h2>

	<!-- Description -->
	{{#if desc}}
	<div class="fw-description">
		{{{desc}}}
	</div>
	{{/if}}

	{{#if this.todo.length }}
	<div class="msg msg--warning" style="margin-bottom:2rem;">
		<div class="container msg__container">
			<div class="msg__body">
				<div class="media">
					<div class="media__figure">
						<div class="align-center">
							{{icon 'warning'}}
							<b class="label" style="margin:0;display:block;">TODO</b>
						</div>
					</div>
					<div class="media__body">
						<ul>
							{{#each this.todo }}
							<li>{{this}}</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/if}}

	{{#if partial}}
		<div class="fw-card fw-card--example">
			{{> (lookup . 'partial') }}
		</div>
	{{else}}
		{{> msg/msg-warning
			content				= "No dynamic partial"
		}}
	{{/if}}

	{{#if _markup}}
		<!-- Output the default markup -->
		<div class="fw-card fw-card--example {{wrapperclass}}">
			{{#styleguide_modifier}}
				{{{../_markup}}}
			{{/styleguide_modifier}}
		</div>
		{{#if modifiers}}
			{{#each modifiers}}
				<!-- Modifier Title -->
				<h2 class="fw-title h4">
					<span class="label" style="text-transform: initial;">{{this.class}}</span>
					{{this.desc}}
				</h2>
				<!-- Modifier Example -->
				<div class="fw-card fw-card--example">
				{{#styleguide_modifier class}}
					{{{../../_markup}}}
				{{/styleguide_modifier}}
				</div>
			{{/each}}
		{{/if}}

		{{#ifCond source '!=' false}}
		<div class="fw-source">
			<div class="align-right">
				<button class="btn btn--default">{{icon 'view-show' 'sm'}} View Source</button>
				<!--
				<button class="btn btn--default" title="Copy to Clipboard">{{icon 'view-show' 'sm'}}</button>
				-->
			</div>
			<div class="fw-source__source">
				<pre><code class="language-html">{{_markup}}</code></pre>
			</div>
		</div>
		{{/ifCond}}

	{{else}}
		{{!--
		<div class="msg msg--info">
			<div class="container msg__container">
				<div class="msg__body">
					<p>No Example provided</p>
				</div>
			</div>
		</div>
		--}}
	{{/if}}

	<!-- Any Tags -->
	{{#if tags}}
		<div style="margin-bottom:2rem;">
			<nav class="{{modifiers "nav" "tags"}}">
				<ul>
				{{#each tags}}
					<li><a href="/styleguide/?tag={{this}}">{{this}}</a></li>
				{{/each}}
				</ul>
			</nav>
		</div>
	{{/if}}

	<!-- Developer Notes -->
	<p><code class="label">{{ this._file }}</code> <code class="label">@ line {{ this._line }}</code></p>

	<dl>
		{{#if this.group }}
		<dt>Group</dt>
		<dd>{{ this.group }}</dd>
		{{/if}}

		{{#if this.author.length }}
		<dt>Author</dt>
		<dd>
			<ul class="list list--unstyled">
				{{#each this.author }}
				<li>{{ this }}</li>
				{{/each}}
			</ul>
		</dd>
		{{/if}}

		{{#if this.since.length }}
		<dt>Since</dt>
		<dd>
			<ul class="list list--unstyled">
				{{#each this.since }}
				<li>
					<b>{{ this.version }}</b>
					{{ this.description }}
				</li>
				{{/each}}
			</ul>
		</dd>
		{{/if}}

		{{#if this.link.length }}
		<dt>Links</dt>
		<dd>
			<ul class="list list--unstyled">
				{{#each this.link }}
				<li>
					{{#if this.caption}}
						<a href="{{this.url}}">{{this.caption}}</a>
					{{else}}
						<a href="{{this.url}}">{{this.url}}</a>
					{{/if}}
				</li>
				{{/each}}
			</ul>
		</dd>
		{{/if}}
	</dl>

</div>

{{/inline}}

{{#ifCond path '==' '/styleguide/'}}
	<h1 class="fw-title">{{title}}</h1>
	<p>[TODO] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi officiis libero incidunt illo. Dolor magni, nihil sint consectetur sit beatae praesentium natus nostrum quas blanditiis vero eum, adipisci quisquam, nam!</p>

	{{#each styles.sections}}
		{{#ifCond _path '==' '/styleguide/note/'}}
			<dl class="list list--line">
				<dt>{{title}}</dt>
				<dd>{{{desc}}}</dd>
			</dl>
		{{/ifCond}}
	{{/each}}

	<hr>

	<!-- TAGS -->
	<h3 class="fw-title h3">Tags</h3>
	<nav class="{{modifiers "nav" "tags"}}">
		<ul>
		{{#each styles.tags}}
			<li><a href="/styleguide/?tag={{@key}}">{{@key}}</a></li>
		{{/each}}
		</ul>
	</nav>
	<!-- TAGS -->

{{else}}

	{{#if _taglist}}
		<h1 class="fw-title">Tag: <span class="label">{{_tag}}</span></h1>
		{{#each styles.sections}}
			{{#inArray ../_taglist @index}}
				{{> mainview}}
			{{/inArray}}
		{{/each}}
	{{else}}
		{{#each styles.sections}}
			{{#ifCond _path '==' ../path}}
				{{> mainview}}
			{{/ifCond}}
		{{/each}}
	{{/if}}

{{/ifCond}}
