{{!--
	"title"						: "Templates",
	"public"					: false,
	"framework"					: true,
	"master"					: "master-framework",
	"body_class"				: "fw"
--}}

<h1 class="fw-title">{{title}}</h1>

<ul>
	<li><a href="https://getuikit.com/v2/">https://getuikit.com/v2/</a></li>
	<li><a href="http://satyr.io/">http://satyr.io/</a></li>
	<li><a href="http://codepen.io/hidanielle/post/level-up-your-sass-with-the-ampersand#-and-variables-4/">http://codepen.io/hidanielle/post/level-up-your-sass-with-the-ampersand#-and-variables-4/</a></li>
</ul>

<div class="grid grid--gutters grid--3@lg grid--5@xl">
{{#each this._templates}}
	{{#unless this.framework}}
		{{!--#unless this.hide-template--}}
		<div class="grid__item" data-page='{{{stringify this}}}'>
			<div class="fw-page fw-page--template">
				<div class="fw-page__container">
					<div class="fw-page__preview">
						{{#if this.preview}}
							{{template_preview this.preview}}
						{{/if}}
					</div>
					<div class="fw-page__body">
						<h3 class="fw-title fw-page__title"><a href="{{url}}">{{title}}</a></h3>
						{{#if this.desc}}
							<p class="copy-meta">{{this.desc}}</p>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
		{{!--/unless--}}
	{{/unless}}
{{/each}}
</div>
