{{!--
	"title"						: "Articles",
	"desc"						: "...",
	"master"					: "master",
	"preview"					: ["nav-primary"],
	"body_class"				: ""
--}}

<div class="container container--padded">
	{{#times 1}}
		{{> article/excerpt }}
	{{/times}}
	<div class="grid grid--gutters">
		<div class="grid__item grid__item-8@md">
			{{#times 2}}
				{{> article/excerpt }}
			{{/times}}
		</div>
		<div class="grid__item grid__item-4@md">
			{{#times 3}}
				{{> article/excerpt }}
			{{/times}}
		</div>
	</div>
	{{> nav/pagination }}
</div>
