{{!--
	"title"						: "Article",
	"desc"						: "...",
	"master"					: "master",
	"preview"					: ["nav-primary"],
	"body_class"				: ""
--}}

<figure class="figly">
	<img src="/assets/media/shutterstock_346221725.jpg" alt="">
	<figcaption>
		<div>
			{{lorem 's2'}}
		</div>
	</figcaption>
</figure>
<div class="container container--padded">
	<a href="articles.html">{{icon 'cheveron-left'}} Back</a>
</div>
<article class="article article--main">
	<div class="container container--md container--padded">
		<div class="article__content">
			<p class="copy-lead">{{lorem 's6'}}</p>
			{{lorem 'p2'}}
			<ul class="list list--numbered">
				{{#times 6}}
				<li>{{lorem 's1'}}</li>
				{{/times}}
			</ul>
			<div class="pull">
				<p class="pullquote">{{lorem 's3'}}</p>
			</div>
			{{lorem 'p2'}}
			<div class="pull pull--alt">
				<div class="box box--shadow">
					<h3>{{lorem 'w2'}}</h3>
					{{lorem 'p'}}
				</div>
			</div>
			{{lorem 'p3'}}
			{{> typography/blockquote }}
			{{> carousel/carousel }}
			{{lorem 'p'}}
			{{> base/table
				hover				= true
			}}
			{{lorem 'p'}}
			{{> nav/tags}}
		</div>
	</div>
	{{> article/comments }}
</article>
