{{!--
	"title"						: "Form",
	"desc"						: "...",
	"master"					: "master",
	"preview"					: ["nav-primary"],
	"hide-template"				: true
--}}

<div class="container container--sm container--padded">

	<ul class="select-list">
		<li><span>michael.ord@gmail.com</span></li>
		<li><span>michael.ord@googlemail.com</span></li>
		<li><span>michael.ord@gmail.com</span></li>
		<li><span>michael.ord@googlemail.com</span></li>
		<li><span>michael.ord@gmail.com</span></li>
		<li><span>michael.ord@googlemail.com</span></li>
		<li><span>michael.ord@gmail.com</span></li>
		<li><span>michael.ord@googlemail.com</span></li>
	</ul>

</div>
<div class="container container--md container--padded">

	{{> form/range
		required		= true
		value			= 50
	}}
	{{> form/range
		required		= true
	}}

	<ul>
		<li><a href="https://github.com/insin/react-maskedinput">https://github.com/insin/react-maskedinput</a></li
		>
		<li><a href="https://github.com/estelle/input-masking">https://github.com/estelle/input-masking</a></li>
		<li><a href="http://benhowdle.im/grade/">http://benhowdle.im/grade/</a></li>
	</ul>
</div>

<div class="container container--padded">
	<h2>Custom Validators</h2>
	<form action="form.html#form" data-validate='' method="post" novalidate>
		<div class="grid grid--gutters grid--2@sm grid--3@md">
			<!-- //-->
			<div class="grid__item" id="doof">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Postcode</span>
					</header>
					{{> form/text
						label				= "Postcode (required)"
						required			= true
						validator			= "postcode"
						modifiers			= "s\m"
					}}
					{{> form/text
						label				= "Postcode (not required)"
						validator			= "postcode"
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Sort Code</span>
					</header>
					{{> form/text
						label				= "Sort Code (required)"
						required			= true
						placeholder			= "__ __ __"
						mask				= true
						validator			= "sortcode"
					}}
					{{> form/text
						label				= "Sort Code (not required)"
						placeholder			= "•• •• ••"
						mask				= true
						validator			= "sortcode"
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Credit Card</span>
					</header>
					{{> form/text
						label				= "Card Number (required)"
						required			= true
						placeholder			= "•••• •••• •••• ••••"
						mask				= true
						validator			= "creditcard"
					}}
					{{> form/text
						label				= "Card Number (not required)"
						placeholder			= "•••• •••• •••• ••••"
						mask				= true
						validator			= "creditcard"
					}}
				</div>
			</div>
		</div>
		<div class="container container--sm">
			{{> form/button
				label				= "Submit Form"
				btn-modifiers		= "wide"
			}}
		</div>
	</form>
</div>

<hr>

{{> form/example }}

<hr>

<div class="container container--sm container--padded">
	<form id="form" action="form.html#form" data-validate='' method="post" novalidate>
		{{> form/credit-card }}
	</form>
</div>
