{{!--
	"title"						: "Overlay",
	"desc"						: "...",
	"master"					: "master",
	"preview"					: ["nav-primary"],
	"body_class"				: "is-modal",
	"hide-template"				: true
--}}

<div class="container container--padded container--lg">
	<h1>How to pretend you’re a great designer</h1>
	{{lorem 'p'}}
	<figure>
		{{placeholder 1200 400}}
	</figure>
	<h2>Distract with delight</h2>
	{{lorem 'p'}}
	{{lorem 'p'}}
	<figure>
		{{placeholder 1200 400}}
	</figure>
	<h2>Confuse them using industry language</h2>
	{{lorem 'p2'}}
	<figure>
		{{placeholder 1200 400}}
	</figure>
	<h2>Use Consistency as your ONLY guiding principle</h2>
	{{lorem 'p2'}}
</div>

<div class="dialog dialog--side">
	<div class="dialog__wrapper">
		<div class="dialog__inner">
			<div class="dialog__header">
				<h3 class="h4">header</h3>
				{{icon 'close'}}
			</div>
			<div class="dialog__body">
				<div class="dialog__content">
					{{lorem 'p2'}}
				</div>
			</div>
			<div class="dialog__footer">
				footer
			</div>
		</div>
	</div>
</div>

<div class="dialog dialog--side" style="margin-left:-30px;">
	<div class="dialog__wrapper">
		<div class="dialog__inner">
			<div class="dialog__header">
				<h3 class="h4">header</h3>
				{{icon 'close'}}
			</div>
			<div class="dialog__body">
				<div class="dialog__content">
					{{lorem 'p2'}}
				</div>
			</div>
			<div class="dialog__footer">
				footer
			</div>
		</div>
	</div>
</div>

<div class="dialog dialog--side">
	<div class="dialog__wrapper">
		<div class="dialog__inner">
			<div class="dialog__header">
				<h3 class="h4">header</h3>
				{{icon 'close'}}
			</div>
			<div class="dialog__body">
				<div class="dialog__content">
					{{lorem 'p'}}
					{{> account/login }}
					{{lorem 'p10'}}
				</div>
			</div>
			<div class="dialog__footer">
				footer
			</div>
		</div>
	</div>
</div>

<div class="dialog d\ialog--side">
	<div class="dialog__wrapper">
		<div class="dialog__inner">
			<div class="dialog__header">
				<h3 class="h4">header</h3>
				{{icon 'close'}}
			</div>
			<div class="dialog__body">
				<div class="dialog__content">
					{{lorem 'p15'}}
				</div>
			</div>
			<div class="dialog__footer">
				<a href="#" class="btn btn--wide btn--positive">Some action</a>
			</div>
		</div>
	</div>
</div>
