{{!--
	"title"						: "Grid",
	"desc"						: "...",
	"master"					: "master",
	"preview"					: ["nav-primary"],
	"body_class"				: ""
--}}

<div class="container container--sm">
	{{ph 'container (sm)'}}
</div>

<hr>

<div class="container container--md">
	{{ph 'container (md)'}}
</div>

<hr>

<div class="container">
	{{ph 'container (default)'}}
</div>

<hr>

<div class="container container--lg">
	{{ph 'container (lg)'}}
</div>

<hr>

<div class="container container--xl">
	{{ph 'container (xl)'}}
</div>

<hr>

<div class="container">

	<div class="grid">
		<div class="grid__item grid__item-4@md">{{ph}}</div>
		<div class="grid__item grid__item-4@md">{{ph}}</div>
		<div class="grid__item grid__item-4@md">{{ph}}</div>
	</div>

	<hr>

	<div class="grid">
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
	</div>

	<hr>

	<div class="grid grid--2@lg">
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
	</div>

	<hr>

	<div class="grid grid--3@lg">
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
	</div>

	<hr>

	<div class="grid grid--4@lg">
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
	</div>

	<hr>

	<div class="grid grid--5@lg">
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
		<div class="grid__item">{{ph}}</div>
	</div>
</div>

<div class="g g--1">
	<div class="g__cell"><div class="g__content">{{ph}}</div></div>
</div>

<div class="g g--2">
	<div class="g__cell"><div class="g__content">{{ph}}</div></div>
	<div class="g__cell"><div class="g__content">{{ph}}</div></div>
</div>

<div class="g g--3">
	<div class="g__cell"><div class="g__content">{{ph}}</div></div>
	<div class="g__cell"><div class="g__content">{{ph}}</div></div>
	<div class="g__cell"><div class="g__content">{{ph}}</div></div>
</div>

<div class="g g--4">
	<div class="g__cell"><div class="g__content">{{ph}}</div></div>
	<div class="g__cell"><div class="g__content">{{ph}}</div></div>
	<div class="g__cell"><div class="g__content">{{ph}}</div></div>
	<div class="g__cell"><div class="g__content">{{ph}}</div></div>
</div>

<div class="g g--5">
	<div class="g__cell"><div class="g__content">{{ph}}</div></div>
	<div class="g__cell"><div class="g__content">{{ph}}</div></div>
	<div class="g__cell"><div class="g__content">{{ph}}</div></div>
	<div class="g__cell"><div class="g__content">{{ph}}</div></div>
	<div class="g__cell"><div class="g__content">{{ph}}</div></div>
</div>

<div class="g g--2">
	<div class="g__cell theme-1">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
	<div class="g__cell theme-2">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
</div>
<div class="g g--3">
	<div class="g__cell theme-2">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
	<div class="g__cell theme-1">
		<img src="/placeholder/media/placeholder-10.jpg" alt="">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
	<div class="g__cell theme-2">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
</div>
<div class="g g--4">
	<div class="g__cell theme-1">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
	<div class="g__cell theme-2">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
	<div class="g__cell theme-1">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
	<div class="g__cell theme-2">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
</div>
<div class="g g--5">
	<div class="g__cell theme-2">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
	<div class="g__cell theme-1">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
	<div class="g__cell theme-2">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
	<div class="g__cell theme-1">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
	<div class="g__cell theme-2">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
</div>

<div class="g g--6">
	<div class="g__cell theme-1">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
	<div class="g__cell theme-2">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
	<div class="g__cell theme-1">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
	<div class="g__cell theme-2">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
	<div class="g__cell theme-1">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
	<div class="g__cell theme-2">
		<div class="g__inner">
			<div class="g__content">
				{{ph}}
			</div>
		</div>
	</div>
</div>
