
<footer class="page-footer {{#if this.dark}}tmp-dark{{/if}}">
	<div class="page-footer__section">
		<div class="container container--padded">
			<div class="grid grid--gutters">
				<div class="grid__item grid__item-4@md">
					<h4>About Us</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique doloremque beatae totam sed nisi voluptates soluta.</p>
					{{> account/newsletter
						intro		= true
					}}
				</div>
				<div class="grid__item grid__item-4@md">
					<h4>Latest Tweets</h4>
					<ul class="list list--unstyled list-underlined">
					{{#times 2}}
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta deserunt sed ipsa repellat molestiae odio earum.</li>
					{{/times}}
					</ul>
				</div>
				<div class="grid__item grid__item-4@md">
					<h4>Instagram</h4>
					<ul class="list list--grid">
					{{#times 8}}
						<li>{{placeholder 80}}</li>
					{{/times}}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="page-footer__section">
		<div class="container container--padded">
			<div class="immy">
				<div>
					{{> nav/inline }}
				</div>
				<div>
					<p>&copy; Copyright {{site-name}} {{year}}. All rights reserved</p>
				</div>
			</div>
		</div>
	</div>
	{{> nav/top fixed=true }}
</footer>
