
<footer class="page-footer {{#if this.dark}}tmp-dark{{/if}}">
	<div class="page-footer__section">
		<div class="container container--padded">
			<div class="grid grid--gutters">
				<div class="grid__item grid__item-3@md">
					{{> logo }}
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique doloremque beatae totam sed nisi voluptates soluta.</p>
				</div>
				<div class="grid__item grid__item-6@md">
					{{> nav/columns }}
				</div>
				<div class="grid__item grid__item-3@md">
					<h4>Follow us</h4>
					{{> nav/social }}
					{{> account/newsletter
						intro		= true
					}}
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="page-footer__section">
		<div class="container container--padded">
			{{> nav/inline }}
			<p>&copy; Copyright {{site-name}} {{year}}. All rights reserved</p>
			<nav class="nav nav--inline">
				<ul>
					<li><a href="#">Terms &amp; Conditions</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
			</nav>
		</div>
	</div>
	{{> nav/top fixed=true }}
</footer>
