
<footer class="page-footer {{#if this.dark}}tmp-dark{{/if}}">
	<div class="page-footer__section">
		<div class="container container--md container--padded">
			{{> account/newsletter
				intro		= true
			}}
		</div>
	</div>
	<div class="page-footer__section">
		<div class="container container--padded">
			<div class="grid grid--gutters">
				<div class="grid__item grid__item-8@md">
					{{> nav/columns }}
				</div>
				<div class="grid__item grid__item-4@md">
					<h4>Follow us</h4>
					{{> nav/social }}
					<h4>About</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique doloremque beatae totam sed nisi voluptates soluta.</p>
				</div>
			</div>
			{{> nav/inline }}
			<p>&copy; Copyright {{site-name}} {{year}}. All rights reserved</p>
		</div>
	</div>
	{{> nav/top fixed=true }}
</footer>
