
<footer class="page-footer {{#if this.dark}}tmp-dark{{/if}}">
	<div class="page-footer__section">
		<div class="container container--padded">
			<div class="grid grid--gutters">
				<div class="grid__item grid__item-3@md">
					{{> logo }}
					{{> nav/social }}
				</div>
				<div class="grid__item grid__item-9@md">
					{{> nav/columns }}
				</div>
			</div>
			<div class="immy">
				<div>
					{{> nav/inline }}
				</div>
				<div>
					{{placeholder 120 50}}
				</div>
			</div>
			<p>&copy; Copyright {{site-name}} {{year}}. All rights reserved</p>
		</div>
	</div>
	{{> nav/top fixed=true }}
</footer>
