
<footer class="page-footer {{#if this.dark}}tmp-dark{{/if}}">
	<div class="page-footer__section">
		<div class="container container--padded">
			<div class="grid grid--gutters">
				<div class="grid__item grid__item-9@md">
					{{> nav/columns }}
				</div>
				<div class="grid__item grid__item-3@md">
					<h4>Follow us</h4>
					{{> nav/social }}
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="page-footer__section">
		<div class="container container--padded">
			<div class="grid grid--gutters">
				<div class="grid__item grid__item-2@md">
					{{> logo }}
				</div>
				<div class="grid__item grid__item-3@md">
					<h4>Address</h4>
					{{{address}}}
				</div>
				<div class="grid__item grid__item-4@md">
					<h4>About</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique doloremque beatae totam sed nisi voluptates soluta.</p>
				</div>
				<div class="grid__item grid__item-3@md">
					<a href="/templates/pages/contact.html" class="btn btn--wide btn--primary">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
	{{#if map}}
		<div class="pag\e-footer__section">
			{{> map/map
				height					= 200
			}}
		</div>
	{{/if}}
	{{> nav/top fixed=true }}
</footer>
