{{!--
	"title"						: "About Us (3)",
	"desc"						: "About page layout",
	"master"					: "master",
	"preview"					: ["nav-primary"]
--}}

<div class="container container--padded">
	<div class="grid grid--margins grid--gutters">
		<div class="grid__item grid__item-8@md">
			{{> carousel/carousel }}
		</div>
		<div class="grid__item grid__item-4@md">
			<h2>Who Am I?</h2>
			{{lorem 'p2'}}
			<a href="#" class="btn btn--primary">Call to Action</a>
		</div>
	</div>
</div>

<div class="container container--padded">
	<div class="grid grid--margins grid--gutters">
		<div class="grid__item grid__item-3@md">
			{{> counter/counter from=0 to=2000}}
		</div>
		<div class="grid__item grid__item-3@md">
			{{> counter/counter from=0 to=1600}}
		</div>
		<div class="grid__item grid__item-3@md">
			{{> counter/counter from=0 to=3100}}
		</div>
		<div class="grid__item grid__item-3@md">
			{{> counter/counter from=0 to=600}}
		</div>
	</div>
</div>

<div class="container container--padded">
	<div class="grid grid--margins grid--gutters">
		<div class="grid__item grid__item-6@md">
			<h2>Profile Picture</h2>
			{{placeholder 600 400}}
			<div class="immy">
				<div>
					<dl>
						<dt>{{samplename}}</dt>
						<dd>{{sampleposition}}</dd>
					</dl>
				</div>
				<div>
					{{> nav/social
						twitter			= true
						facebook		= true
						instagram		= true
						youtube			= false
					}}
				</div>
			</div>
		</div>
		<div class="grid__item grid__item-6@md">
			<h2>My History</h2>
			{{lorem 'p2'}}

			{{> toggle/toggle
				title			= "Our Company Mission"
			}}
			{{> toggle/toggle
				title			= "Our Philosophy"
			}}
			{{> toggle/toggle
				title			= "Our Promise"
			}}
		</div>
	</div>
</div>

<div class="container container--padded">
	<h2>Meet Our Team</h2>
	<div class="grid grid--margins grid--gutters grid--3@md">
		{{#times 6}}
		<div class="grid__item">
			{{> person/profile }}
		</div>
		{{/times}}
	</div>
</div>
