{{!--
	"title"						: "About Us (2)",
	"desc"						: "About page layout",
	"master"					: "master",
	"preview"					: ["nav-primary"]
--}}

<div class="container container--padded">
	{{> carousel/hero }}
</div>

<div class="container container--padded">
	<div class="grid grid--gutters">
		<div class="grid__item grid__item-8@md">
			<h2>We are here to serve you</h2>
			{{lorem 'p2'}}
		</div>
		<div class="grid__item grid__item-4@md">
			<h2>Our Crazy Skills</h2>
			{{> stat-bar
				title			= "Web Design"
				percent			= 90
			}}
			{{> stat-bar
				title			= "HTML/CSS"
				percent			= 95
			}}
			{{> stat-bar
				title			= "Graphic Design"
				percent			= 85
			}}
			{{> stat-bar
				title			= "Wordpress"
				percent			= 75
			}}
		</div>
	</div>
</div>

<div class="container container--padded">
	<h2>Meet Our Team</h2>
	<div class="grid grid--gutters grid--3@md">
		{{#times 3}}
		<div class="grid__item">
			{{> person/profile }}
		</div>
		{{/times}}
	</div>
</div>

<div class="container container--padded">
	<h2>Our Happy Clients</h2>
	{{> carousel/logos }}
</div>

