{{!--
	"title"						: "Contact",
	"desc"						: "...",
	"master"					: "master",
	"preview"					: ["nav-primary"]
--}}

{{> banner }}
<div class="container container--padded">
	<div class="grid grid--gutters">
		<div class="grid__item grid__item-4@md">
			<dl>
				<dt>Email</dt>
				<dd>{{email}}</dd>
				<dt>Mobile</dt>
				<dd>{{telephone}}</dd>
				<dt>Address</dt>
				<dd>{{{address}}}</dd>
			</dl>
			{{#ifPartial 'map/map'}}
				{{> map/map
					height		= 250
				}}
			{{/ifPartial}}
		</div>
		<div class="grid__item grid__item-8@md">
			{{> account/contact}}
		</div>
	</div>
</div>

