{{!--
	"title"						: "Team",
	"desc"						: "...",
	"master"					: "master",
	"preview"					: ["nav-primary"],
	"body_class"				: ""
--}}

<div class="container container--padded align-center">
	<h1>The Team</h1>
	{{lorem 'p'}}
</div>
<div class="container container--padded">
	<div class="grid grid--gutters grid--2@md">
		{{#times 2}}
		<div class="grid__item">
			{{> person/profile }}
		</div>
		{{/times}}
	</div>
	<div class="grid grid--gutters grid--3@md">
		{{#times 3}}
		<div class="grid__item">
			{{> person/profile }}
		</div>
		{{/times}}
	</div>
</div>
