<!DOCTYPE html>
<html class="no-js {{html_class}}">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<meta name="msapplication-tap-highlight" content="no" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
		<link rel="canonical" href="" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta property="og:title" />
		<meta property="og:description" />
		<meta property="og:image" content="" />
		<meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-title" content="{{site-name}}" />
		<meta name="mobile-web-app-capable" content="yes" />

		<link rel="stylesheet" href="/assets/css/application.min.css">
		<link rel="stylesheet" href="/assets/css/application-framework.min.css">

		{{#if is-debug}}
			<link rel="stylesheet" href="/assets/css/application-debug.min.css">
		{{/if}}
		<title>{{#if site-name}}{{site-name}} - {{/if}}{{title}}</title>
	</head>
	<body class="{{body_class}}{{#if is-debug}} s-debug{{/if}}" id="{{id}}">
		{{{body}}}
		<script src="/assets/js/application-polyfills.min.js"></script>
		<script src="/assets/js/application.min.js"></script>
		<script src="/assets/js/flickity.min.js"></script>
	</body>
</html>
