<!DOCTYPE html>
<html class="no-js {{html_class}}">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
		<link rel="canonical" href="" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta property="og:title" />
		<meta property="og:description" />
		<meta property="og:image" content="" />

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-title" content="" />
		<meta name="mobile-web-app-capable" content="yes" />

		<meta name="msapplication-tap-highlight" content="no" />

		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="/assets/css/application.min.css">
		<script src="/assets/js/libs/vue.js"></script>

		{{#if is-debug}}
		<link rel="stylesheet" href="/assets/css/application-debug.min.css">
		{{/if}}
		<title>{{#if site-name}}{{site-name}} - {{/if}}{{title}}</title>
	</head>
	<body class="{{body_class}}{{#if is-debug}} s-debug{{/if}}" id="{{id}}">
		<div id="page" class="page">
			<div class="page__body">
				{{{block "pre-header"}}}
				{{> header}}
				<main class="page__main page-main">
					{{!--
					<div class="page-bar">
						<div class="container container--padded">
							<div class="immy">
								<div>
									{{title}}
								</div>
								<div>
									{{> nav/breadcrumb }}
								</div>
							</div>
						</div>
					</div>
					--}}
					{{{body}}}
				</main>
				{{> footer}}
			</div>
		</div>
		<div id="overlays">
			<div class="overlay">
				<div class="container container--padded overlay__container">
					<div class="overlay__header">
						<h2 class="h4 overlay__title" data-overlay-title></h2>
						<!--
						TODO: change to button
						https://bitsofco.de/accessible-modal-dialog/?utm_source=codropscollective
						-->
						<a href="#" aria-label="Close Navigation" class="overlay__close" data-overlay-close data-overlay-trigger='{"close": true}'>{{icon 'close'}}</a>
					</div>
					<div class="overlay__body" data-overlay-body></div>
				</div>
			</div>
		</div>
		<script src="/assets/js/application-polyfills.min.js"></script>
		<script src="/assets/js/application.min.js"></script>
		<script src="/assets/js/flickity.min.js"></script>
	</body>
</html>
