
<div class="{{modifiers "banner" this.modifiers}} {{#if this.dark}}tmp-dark{{/if}}">
	{{placeholder 1440 960}}
	<div class="container container--lg banner__container">
		<div class="body banner__body">
			<div class="content banner__content left">
				<div class="media media--top">
					<figure class="media__figure">
						{{icon 'cog' 'md,rounded'}}
					</figure>
					<div class="media__body">
						<h2>The Very app</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In adipisci animi neque numquam corporis? Aperiam, amet fugit. Temporibus accusantium, vel unde totam, at facilis placeat illum expedita vitae laudantium excepturi.</p>
						<a href="#" class="btn btn--positive">Download the app now {{icon 'download'}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
