
<div class="{{modifiers "banner" this.modifiers}} {{#if this.dark}}tmp-dark{{/if}}">
	<img src="/placeholder/media/placeholder-04.jpg" alt="">
	<div class="container container--md banner__container">
		<div class="body banner__body">
			<div class="content banner__content">
				{{> account/newsletter
					intro		= true
				}}
			</div>
		</div>
	</div>
</div>
