
<div class="{{modifiers "banner" this.modifiers}} {{#if this.dark}}tmp-dark{{/if}}">
	<video autoplay loop muted>
		<source src="http://vodkabears.github.io/vide/video/ocean.mp4" type="video/mp4">
		<source src="http://vodkabears.github.io/vide/video/ocean.webm" type="video/webm">
		<source src="http://vodkabears.github.io/vide/video/ocean.ogv" type="video/ogg">
	</video>
	<div class="container container--sm banner__container">
		<div class="body banner__body">
			<div class="content left banner__content">
				<div class="align-center">
					<h1 class="h3">Video Background</h1>
				</div>
			</div>
		</div>
	</div>
</div>
