
<div class="{{modifiers "banner" this.modifiers}} {{#if this.dark}}tmp-dark{{/if}}">
	<img src="{{image}}" alt="">
	<div class="container container--md banner__container">
		<div class="body banner__body">
			<div class="content banner__content">
				<span class="label">Photograph</span>
				<h1>{{lorem 's2'}}</h1>
				{{> person/author }}
			</div>
		</div>
	</div>
</div>
