
<div class="{{modifiers "banner" this.modifiers}} {{#if this.dark}}tmp-dark{{/if}}">
	{{placeholder 1440 960}}
	<div class="container banner__container">
		<div class="body banner__body">
			<div class="content left banner__content">
				<span class="label">Programmes</span>
				<h1>Advanced Management and Leadership Programme</h1>
				<p>Transform your leadership approach to successfully deliver responsible, sustainable growth for your organisation</p>
				<a href="#" class="btn btn--positive">Apply Now {{icon 'cheveron-right'}}</a>
			</div>
		</div>
	</div>
</div>
