
<div class="{{modifiers "banner" this.modifiers}} {{#if this.dark}}tmp-dark{{/if}}">
	{{placeholder 1440 960}}
	<div class="container banner__container">
		<div class="body banner__body">
			<div class="content banner__content">
				<div class="align-center">
					<span class="label">Programmes</span>
					<h1>Executive programme finder</h1>
				</div>
				<div class="tabular tabular--equal">
					<div class="tabular__item">
						<a href="#" class="btn btn--link">Search</a>
					</div>
					<div class="tabular__item">
						{{placeholder 50}}
						<p>Get a custom recommendation and save your progress</p>
						<a href="#" class="btn btn--link">Search with LinkedIn</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
