
<div class="{{modifiers "banner" this.modifiers}} {{#if this.dark}}tmp-dark{{/if}}">
	{{placeholder 1440 960}}
	<div class="container banner__container">
		<div class="body banner__body">
			<div class="content banner__content">
				<div class="align-center">
					<span class="label">Programmes</span>
					<h1>Executive programme finder</h1>
				</div>
				<div class="tabular tabular--equal">
					<div class="tabular__item">
						<a href="#" class="btn btn--link">Search</a>
					</div>
					<div class="tabular__item">
						<div class="media">
							<figure class="media__figure">
								{{placeholder 50}}
							</figure>
							<div class="media__body">
								<h2>Welcome, Chen</h2>
							</div>
						</div>
						<div class="tabular">
							<div class="tabular__item">
								{{> counter/counter from=80 to=1000}}
							</div>
							<div class="tabular__item">
								{{> counter/counter from=80 to=1000}}
							</div>
							<div class="tabular__item">
								{{> counter/counter from=80 to=1000}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
