
<div class="{{modifiers "banner" this.modifiers}} {{#if this.dark}}tmp-dark{{/if}}">
	<div class="container container--md banner__container">
		<div class="body banner__body">
			<div class="content banner__content align-center">
				{{icon 'cog' 'lg,rounded'}}
				<h2>There are no items in your basket yet</h2>
				<div class="tabular tabular--equal">
					<div class="tabular__item">
						<a href="#" class="btn btn--wide btn--negative">Continue shopping {{icon 'cheveron-right'}}</a>
					</div>
					<div class="tabular__item">
						<a href="#" class="btn btn--wide btn--positive">{{icon 'user'}} Already a customer? Sign in</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
