
<div class="{{modifiers "banner" this.modifiers}} {{#if this.dark}}tmp-dark{{/if}}">
	{{placeholder 1440 960}}
	<div class="container banner__container">
		<div class="body banner__body">
			<div class="content banner__content">
				<div class="align-center">
					<img src="//placehold.it/80" alt="" class="img img--rounded">
					<h1>Welcome {{samplename}}</h1>
					<div class="container container--lg">
						<div class="tabular tabular--equal">
							<div class="tabular__item">
								{{> counter/counter from=80 to=1000}}
							</div>
							<div class="tabular__item">
								{{> counter/counter from=80 to=1000}}
							</div>
							<div class="tabular__item">
								{{> counter/counter from=80 to=1000}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
