
<div class="{{modifiers "banner" this.modifiers}} {{#if this.dark}}tmp-dark{{/if}}">
	{{placeholder 1440 960}}
	<div class="container banner__container">
		<div class="body banner__body">
			<div class="content banner__content">
				<div class="align-center">
					<blockquote>
						<p>The power of the Said network helped me find a team of a dozen people from 11 countries.</p>
					</blockquote>
					<a href="#" class="btn btn--link">Explore the oxford said difference</a>
					<div class="tabular tabular--equal">
						<div class="tabular__item">
							{{> counter/counter from=80 to=1000}}
						</div>
						<div class="tabular__item">
							{{> counter/counter from=80 to=1000}}
						</div>
						<div class="tabular__item">
							{{> counter/counter from=80 to=1000}}
						</div>
					</div>
				</div>
			</div>
			<div class="content left banner__content">
				<h5>{{samplename}}</h5>
				<span>{{sampleposition}}</span>
			</div>
		</div>
	</div>
</div>
