
<!--
<header class="page-header header">
	<div class="header__inner">
		<div class="container container--padded">
			<nav>
				<ul>
					<li><a href="/templates/">{{placeholder 150 70}}</a></li>
					<li class="navicon">
						<a href="#user-menu" data-overlay-trigger=''>
							{{icon 'user'}}
							<span>{{username}}</span>
						</a>
					</li>
					<li class="navicon" id="navuser">
						<a href="/templates/account/login.html#content" data-overlay-trigger=''>
							{{icon 'user'}}
							<span>Login</span>
						</a>
					</li>
					<li class="navicon active">
						<a href="#nav-mobile" data-overlay-trigger=''>
							{{icon 'menu'}}
							<span>Menu</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
-->

{{> nav/megamenu
	fixed			= false
}}

<div id="nav-mobile" aria-hidden="true" data-overlay='{"classes":"overlay--nav"}'>
	{{> nav/stacked }}
	{{> nav/social }}
</div>
<div id="user-menu" aria-hidden="true" data-overlay='{"title": "Hi {{username}}"}'>
	<a href="#" class="btn btn--wide btn--positive">Logout</a>
</div>
