
<div class="alert alert--sticky alert--essential" data-alert='{"delay": 0, "bg": true}'>
	<span class="alert__bar"><span></span></span>
	<div class="container container--md alert__container">
		<div class="content alert__content">
			<div class="media media--top">
				<div class="media__figure">
					{{placeholder 50}}
				</div>
				<div class="media__body">
					<h3 class="h5">It seems that your account has been hijacked</h3>
					<p>You must change your password in order to continue using your account.</p>
				</div>
			</div>
		</div>
	</div>
	<footer class="alert__footer">
		<div class="container container--md alert__container">
			<div class="content alert__content">
				<a href="/templates/account/change-password.html#content" class="btn btn--positive btn--wide" data-overlay-trigger=''>Change my password</a>
			</div>
		</div>
	</footer>
</div>
