{{!--
	"title"						: "404",
	"desc"						: "Default 404 Page",
	"master"					: "master",
	"preview"					: ["nav-primary"]
--}}

<div class="banner banner--xl t\mp-dark">
	{{placeholder 1600 900 }}
	<div class="container container--lg banner__container">
		<div class="body banner__body">
			<div class="content banner__content align-center">
				<h1>Looks like you’ve taken a wrong turn</h1>
				<p>The page has either been moved or no longer exists.</p>
				<a href="#" class="btn btn--primary">{{icon 'cheveron-left'}} Return to the homepage</a>
			</div>
		</div>
	</div>
</div>
