{{!--
	"title"						: "500",
	"desc"						: "Server Error Page",
	"master"					: "master-blank",
	"preview"					: ["nav-primary"]
--}}

<div class="banner banner--screen">
	<div class="container container--md banner__container">
		<div class="body banner__body">
			<div class="content banner__content">
				{{> logo }}
				<h1 class="h4">There was a problem serving the requested page.</h1>
				<p>Now you're wondering, "what do I do now!?!". Well...</p>
				<ul class="list--numbered">
					<li>you can try refreshing the page, the problem may be temporary</li>
					<li>if you entered the URL in by hand, double check that it is correct</li>
					<li>we've been notified of the problem and will do our best to make sure it doesn't happen again!</li>
				</ul>
			</div>
		</div>
	</div>
</div>
