{{!--
	"title"						: "Holding",
	"desc"						: "Holding page",
	"master"					: "master-blank",
	"preview"					: ["nav-primary"]
--}}

<div class="banner banner--screen">
	<!--{{placeholder 1440 960}}-->
	<div class="container container--sm banner__container">
		<div class="body banner__body">
			<div class="content banner__content align-center">
				<h1>{{> logo }}</h1>
				<p>We're currently working on a our site, enter your email below, and we'll notify you when we're up and running.</p>
				{{> account/newsletter
					intro		= false
				}}
				<dl class="list list--line">
					<dt>Email</dt>
					<dd>{{email}}</dd>
					<dt>Mobile</dt>
					<dd>{{telephone}}</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
