{{!--
	"title"						: "Maintenance",
	"desc"						: "Site maintenance page",
	"master"					: "master-blank",
	"preview"					: ["nav-primary"]
--}}

<div class="banner banner--screen">
	<div class="container container--md banner__container">
		<div class="body banner__body">
			<div class="content banner__content align-center">
				<h1>{{> logo}}</h1>
				<p>Unfortunately we’re carrying out some essential maintenance work, though in the meantime you can still reach our social pages by tapping on the icons below.</p>
				{{> nav/social }}
			</div>
		</div>
	</div>
</div>
