{{!--
	"title"						: "[Workspace]",
	"desc"						: "...",
	"master"					: "master",
	"preview"					: ["nav-primary"],
	"body_class"				: ""
--}}




<div class="container container--sm">
	<div class="immy">
		<div>
			<label for="t1">some label</label>
		</div>
		<div>
			<input type="radio" id="t1" name="tgl" class="tgl tgl--light">
			<label for="t1"></label>
		</div>
	</div>
</div>

<div class="container container--sm">
	<div class="immy">
		<div>
			<label for="t2">some label</label>
		</div>
		<div>
			<input type="radio" id="t2" name="tgl" class="tgl tgl--ios">
			<label for="t2"></label>
		</div>
	</div>
</div>

<div class="container container--sm">
	<div class="immy">
		<div>
			<label for="t3">some label</label>
		</div>
		<div>
			<input type="radio" id="t3" name="tgl" class="tgl tgl--skew">
			<label for="t3" data-off="Off" data-on="On"></label>
		</div>
	</div>
</div>

<div class="container container--sm">
	<div class="immy">
		<div>
			<label for="t4">some label</label>
		</div>
		<div>
			<input type="radio" id="t4" name="tgl" class="tgl tgl--flat">
			<label for="t4"></label>
		</div>
	</div>

</div>

<div class="container container--sm">
	<div class="immy">
		<div>
			<label for="t5">some label</label>
		</div>
		<div>
			<input type="radio" id="t5" name="tgl" class="tgl tgl--flip">
			<label for="t5" data-off="Off" data-on="On"></label>
		</div>
	</div>
</div>

<!--

<div class="section-test">Example</div>

<div class="section atheme-1" data-class="atheme-1"></div>
<div class="section atheme-2" data-class="atheme-2"></div>
<div class="section atheme-3" data-class="atheme-3"></div>
<div class="section atheme-3" data-class="atheme-3"></div>
<div class="section atheme-2" data-class="atheme-2"></div>

-->

{{#*inline "test-1"}}
<div class="card card--padded">
	<div class="card__hero">
		{{placeholder 1200 600}}
	</div>
	<div class="card__content">
		<div class="card__container">
			<div class="card__copy">
				<span class="card__label">Technology</span>
				<h1 class="title card__title"><a href="#">One Hundred and One Rectangles</a></h1>
			</div>
			<footer class="card__footer">
				5 minutes
			</footer>
		</div>
	</div>
</div>
{{/inline}}

{{#*inline "test-2"}}
<div class="card card--padded">
	<div class="card__hero">
		{{placeholder 1200 600}}
	</div>
	<div class="card__content">
		<div class="card__container">
			<div class="card__copy">
				<span class="card__label">Technology</span>
				<h1 class="title card__title"><a href="#">The Skypshere by Jono Williams</a></h1>
				{{lorem 'p'}}
			</div>
		</div>
	</div>
</div>
{{/inline}}

{{#*inline "quicklink-1"}}
<div class="card card--padded card--quicklink card--theme-1">
	<div class="card__content">
		<div class="card__container">
			<div class="media">
				<div class="media__figure">
					<img class="" src="/assets/svgs/wine.svg" width="80" alt="">
				</div>
				<div class="media__body">
					<div class="card__copy">
						<span class="card__label">Design</span>
						<h1 class="title card__title">
							<a href="#">Mashup Portraits of Superheros and Girls</a>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/inline}}

{{#*inline "quicklink-2"}}
<div class="card card--padded card--quicklink card--theme-2">
	<div class="card__content">
		<div class="card__container">
			<div class="media media--reverse">
				<div class="media__figure">
					<img class="" src="/assets/svgs/satelite.svg" width="80" alt="">
				</div>
				<div class="media__body">
					<div class="card__copy">
						<span class="card__label">Design</span>
						<h1 class="title card__title">
							<a href="#">New Release on Designmodo Market</a>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/inline}}

<div class="container container--padded">

			<div class="grid grid--gutters">
					<div class="grid__item grid__item-4@md">
						<!-- -->
						{{> test-1 }}
						<!-- -->
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
						<div class="card card--padded card--theme-1">
							<header class="card__header">
								<span class="card__label">Features</span>
								<span>
									{{icon 'navigation-more'}}
								</span>
							</header>
							<div class="card__content">
								<div class="card__body">
									<div class="align-center">
										<img class="card__icon" src="/assets/svgs/lamp.svg" width="80" alt="">
										<h1 class="card__title"><a href="#">Analyze this</a></h1>
										{{lorem 'p'}}
									</div>
								</div>
							</div>
						</div>
						<!-- -->
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
						<div class="card card--padded card--theme-1">
							<header class="card__header">
								<span class="card__label">New video</span>
								<span>
									{{icon 'navigation-more'}}
								</span>
							</header>
							<div class="card__content">
								<div class="card__body">
									<h1 class="title card__title"><a href="#">Short Seller Sees Way to Become 'Wildly Bullish' on Greece</a></h1>
									<a href="#" class="btn btn--outline btn--primary">{{icon 'play'}} Play video</a>
								</div>
							</div>
						</div>
						<!-- -->
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-8@md">
						<!-- -->
						<div class="grid grid--gutters">
							<div class="grid__item grid__item-6@md">
								<!-- -->
								{{> quicklink-1 }}
								{{> quicklink-2 }}
								<!-- -->
							</div>
							<div class="grid__item grid__item-6@md">
								<!-- -->
								{{> test-2 }}
								<!-- -->
							</div>
						</div>
						<!-- -->
						<div class="card">
							<div class="card__c\ontent">
								<div class="card__container">
									<div class="media media--reverse media--figure-bottom">
										<div class="media__figure media__figure--bottom">
											{{placeholder 400}}
										</div>
										<div class="media__body">
											<div class="card__copy">
												<h1 class="title card__title">
													<a href="#">Next-generation virtual reality</a>
												</h1>
												{{lorem 'p'}}
												<a href="#" class="btn btn--outline btn--primary">
													{{icon 'play'}}
													Watch gallery
												</a>
												{{icon 'navigation-more' 'rounded'}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- -->
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
						<div class="card card--padded">
							<header class="card__header">
								<span class="card__label">Latest posts</span>
							</header>
							{{#times 2}}
								{{> article/excerpt}}
							{{/times}}
						</div>

						<div class="card card--theme-3">
							<div class="card__content">
								<div class="card__container">
									<div class="media media--top media--reverse">
										<div class="media__figure">
											<img class="card__icon" src="/assets/svgs/map.svg" width="80" alt="">
										</div>
										<div class="media__body">
											<div class="card__copy">
												<span class="card__label">Advertising</span>
												<h1 class="title card__title">
													<a href="#">Mashup Portraits of Superheros and Girls</a>
												</h1>
												{{lorem 'p'}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- -->
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-8@md">
						<!-- -->
						<div class="card card--padded card--theme-1">
							<div class="card__content">
								<div class="card__container">
									<div class="card__copy">
										<h1 class="title card__title">
											<a href="#">The Ultimate List of New Crazy Gadgets</a>
										</h1>
										{{lorem 'p'}}
										<a href="#" class="btn btn--primary">
											{{icon 'play'}}
											Read all stories
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- -->
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
						<div class="card card--padded">
							<header class="card__header">
								<span class="card__label">Search</span>
							</header>
							<span class="card__label">Gargets</span>
							<h1 class="title card__title"><a href="#">Fly Like a Boss With the Drone</a></h1>
							{{lorem 'p'}}
							<footer class="card__footer">
								2 days ago
								{{> nav/tags }}
							</footer>
						</div>
						<!-- -->
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-4@md">
						<!-- -->
						<div class="card card--padded">
							<span class="card__label">Science</span>
							<h1 class="title card__title"><a href="#">Secret That Can Ruin Your Life</a></h1>
							{{lorem 'p'}}
							<footer class="card__footer">
								24 Dec, 2015
							</footer>
						</div>
						<!-- -->
					</div>
					<div class="grid__item grid__item-8@md">
						<!-- -->
						<div class="card">
							<div class="card__c\ontent">
								<div class="card__container">
									<div class="media media--figure-bottom">
										<div class="media__figure">
											{{placeholder 600 400}}
										</div>
										<div class="media__body">
											<div class="card__copy">
												<span class="card__label">Technology</span>
												<h1 class="title card__title">
													<a href="#">Apple Watch Hardcore Review</a>
												</h1>
												{{lorem 'p'}}
												{{> nav/social }}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- -->
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-8@md">
						<!-- -->
						<div class="card card--padded">
							<div class="card__hero">
								{{placeholder 1200 300}}
							</div>
							<div class="card__c\ontent">
								<div class="card__container">
									<div class="card__copy">
										<h1 class="title card__title">
											<a href="#">Aussie Views by Julieanne Kost</a>
										</h1>
										{{lorem 'p'}}
									</div>
								</div>
							</div>
						</div>
						<!-- -->
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
						<div class="card card--padded">
							<h1 class="title card__title"><a href="#">Building Cultural Moments For Bands And Brands We Love</a></h1>
							{{lorem 'p'}}
							{{> person/author }}
						</div>
						<!-- -->
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-4@md">
						<!-- -->
						<div class="card card--padded">
							<img src="{{placeholderurl 800 800}}" alt="" class="card__bg">
							<header class="card__header">
								<span class="card__label">Article</span>
								<span>
									{{icon 'navigation-more'}}
								</span>
							</header>
							<div class="card__body">
								<div class="card__inner">
									<h1 class="title card__title"><a href="#">Remembering Alan Rickman's Roles</a></h1>
									{{> typography/blockquote }}
									{{icon 'bookmark'}}
								</div>
							</div>
							<footer class="card__footer">
								<div>
									<a class="btn btn--link" href="#">Read more {{icon 'cheveron-right'}}</a>
								</div>
							</footer>
						</div>
						<!-- -->
					</div>
					<div class="grid__item grid__item-8@md">
						<!-- -->
						<div class="card card--padded">
							<div class="insetter">
								{{placeholder 1600 400}}
								<div class="insetter__image">
									{{placeholder 120}}
								</div>
							</div>
							<ul class="avatar-group">
								<li>
									<span class="avatar">
										{{avatar}}
									</span>
								</li>
								<li>
									<span class="avatar">
										{{avatar}}
									</span>
								</li>
								<li>
									<span class="avatar">
										{{avatar}}
									</span>
								</li>
								<li>
									<span class="avatar">
										<span class="avatar" data-initial="YP"></span>
									</span>
								</li>
							</ul>
							<h1 class="title card__title"><a href="#">Bitcoin Mining Computer</a></h1>
							{{lorem 'p'}}
							<dl>
								<dt>Users</dt>
								<dd>
									<ul class="list list--inline">
										{{#times 5}}
										<li><a href="#">{{samplename}}</a></li>
										{{/times}}
									</ul>
								</dd>
							</dl>
						</div>
						<!-- -->
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-8@md">
						<!-- -->
						<div class="card card--padded">
							<header class="card__header">
								<b>{{samplename}}</b>
								<span>Designer, Great Simple</span>
							</header>
							<div>
								{{lorem 'p'}}
								<div>
									{{placeholder 100}}
									{{placeholder 100}}
									{{placeholder 100}}
									{{placeholder 100}}
								</div>
								{{lorem 'p'}}
							</div>
							<footer class="card__footer">
								2 hours ago
								{{> nav/tags }}
							</footer>
						</div>
						<!-- -->
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
						<div class="card card--padded">
							{{> article/comments }}
						</div>
						<!-- -->
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-4@md">
						<!-- -->
						<div class="card card--padded card--theme-1">
							<div class="align-center">
								<img class="card__icon" src="/assets/svgs/baseball.svg" width="80" alt="">
								<h1 class="title card__title"><a href="#">Football Analytics</a></h1>
								{{lorem 'p'}}
								<a href="#" class="btn btn--primary">Read more</a>
							</div>
						</div>
						<!-- -->
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
						<div class="card card--padded">
							<header class="card__header">
								{{samplename}}
								3:32pm
							</header>
							<div class="card__hero">
								{{placeholder 600 300}}
							</div>
							{{lorem 'p'}}
							{{> nav/tags }}
						</div>
						<!-- -->
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
						<div class="card card--padded">
							<div class="card__hero">
								{{placeholder 600 300}}
							</div>
							<span class="card__label">Gadgets</span>
							<h1 class="title card__title"><a href="#">Chill with Cardboard</a></h1>
							{{lorem 'p'}}
							<footer class="card__footer">
								<div>
									[people]
									<a href="#" class="btn btn--link">{{icon 'thumbs-up'}} Like</a>
								</div>
								<a class="btn btn--link" href="#">View more {{icon 'cheveron-right'}}</a>
							</footer>
						</div>
						<!-- -->
					</div>
				</div>

				<hr>

				<h1>Ecommerce</h1>

				<div class="card">
					<div class="media media--figure-bottom media--reverse">
						<div class="media__figure">
							{{placeholder 300}}
						</div>
						<div class="media__body">
							<div class="card__copy">
								<span class="card__label">New Arrivals</span>
								<h1 class="title card__title"><a href="#">Great Games Deserve a Great Controller</a></h1>
								{{lorem 'p'}}
								<a href="" class="btn btn--primary">{{icon 'shopping-cart'}} Shop now</a>
							</div>
						</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-4@md">
						<!-- -->
						<div class="card card--padded">
							<div class="card__hero">
								{{placeholder 400 300}}
							</div>
							<h1 class="title card__title"><a href="#">New Arrivals</a></h1>
							<span>543 Items</span>
						</div>
					</div>
					<div class="grid__item grid__item-8@md">
						<!-- -->
						<div class="card">
							<div class="media media--reverse">
								<div class="media__figure">
									{{placeholder 600 400}}
								</div>
								<div class="media__body">
									<div class="card__copy">
										<span class="card__label">Shoes</span>
										<h1 class="title card__title"><a href="#">Adidas Ultra Boost Core Black</a></h1>
										<span>{{currency}}150</span>
										{{lorem 'p'}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-3@md">
						<!-- -->
						<div class="card card--padded">
							<span class="card__tag">New</span>
							<div class="card__hero">
								{{placeholder 400 250}}
							</div>
							<div class="card__body">
								<h1 class="title card__title"><a href="#">Apple Watch Sport</a></h1>
								<p>42mm Silver Aluminium Case with White Sport Band</p>
								<a href="#" class="btn btn--wide btn--default">
									<span>{{currency}}349</span>
									<span>Shop now</span>
									{{icon 'shopping-cart'}}
								</a>
							</div>
						</div>
					</div>
					<div class="grid__item grid__item-3@md">
						<!-- -->
						<div class="card card--padded">
							<div class="card__hero">
								{{placeholder 400 250}}
							</div>
							<div class="card__body">
								<h1 class="title card__title"><a href="#">Apple Watch Edition</a></h1>
								<p>Stainless steel</p>
							</div>
							<footer class="card__footer">
								<div>
									{{currency}}349 (Ex. Tax)
								</div>
								<div>
									[field circles]
								</div>
							</footer>
						</div>
					</div>
					<div class="grid__item grid__item-3@md">
						<!-- -->
							<div class="card card--padded">
								<span class="card__tag">Sale</span>
								<div class="card__hero">
									{{placeholder 400 250}}
								</div>
								<div class="card__body">
									<h1 class="title card__title"><a href="#">Paul Smith Heavyweight Oxford Shirt</a></h1>
									<p>White</p>
									<p>
										<del>{{currency}}159</del>
										{{currency}}119
									</p>
								</div>
							</div>
					</div>
					<div class="grid__item grid__item-3@md">
						<!-- -->
							<div class="card card--padded">
								<div class="card__hero">
									{{placeholder 400 250}}
								</div>
								<div class="card__body">
									<h1 class="title card__title"><a href="#">Beoplay H7 Premium Wireless Headphones</a></h1>
									{{> rating/rating}}
									<a href="#" class="btn btn--wide btn--default">
										<span>{{currency}}549</span>
										<span>Shop now</span>
										{{icon 'shopping-cart'}}
									</a>
								</div>
							</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-3@md">
						<!-- -->
							<div class="card card--padded">
								<div class="card__hero">
									{{placeholder 400 250}}
								</div>
								<div class="card__body">
									<div class="card__inner">
										{{icon 'bookmark'}}
										<h1 class="title card__title"><a href="#">AIAIAI TMA-1 Studio</a></h1>
										<p>High quality headphones for music prefessionals</p>
										<span>{{currency}}262</span>
									</div>
								</div>
							</div>
					</div>
					<div class="grid__item grid__item-3@md">
						<!-- -->
							<div class="card card--padded">
								<img src="{{placeholderurl 800 600}}" alt="" class="card__bg">
								<div class="card__body">
									<div class="card__inner">
										<h1 class="title card__title"><a href="#">Beoplay H8</a></h1>
										<p>{{lorem 's3'}}</p>
										<span>{{currency}}262</span>
										<a href="#" class="btn btn--primary">
											Shop now
											{{icon 'shopping-cart'}}
										</a>
									</div>
								</div>
							</div>
					</div>
					<div class="grid__item grid__item-3@md">
						<!-- -->
							<div class="card card--padded">
								<div class="card__hero">
									{{placeholder 400 250}}
								</div>
								<div class="card__body">
									<h1 class="title card__title"><a href="#">Homedecor Eames House Bird</a></h1>
									<p>Black</p>
								</div>
								<footer class="card__footer">
									<div>
										<del>{{currency}}250</del>
										{{currency}}199
									</div>
									<a class="btn btn--link" href="#">{{icon 'thumbs-up'}} Like this</a>
								</footer>
							</div>
					</div>
					<div class="grid__item grid__item-3@md">
						<!-- -->
						<div>
							<div class="card card--padded">
								(toasts)
							</div>
						</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-8@md">
						<!-- -->
							<div class="card card--padded">
								<span class="card__label">Shoes</span>
								<h1 class="title card__title"><a href="#">Acne Studios Adriana White</a></h1>
								<span>{{currency}}400</span>
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								<span>Sale</span>
								<h1>2564 Items</h1>
								<p>{{lorem 's2'}}</p>
								<a href="#" class="btn btn--primary btn--outline">
									{{icon 'shopping-cart'}}
									Shop now
								</a>
							</div>
					</div>
				</div>

				<div class="card card--padded">
					{{> nav/breadcrumb}}
					[TODO]
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-8@md">
						<!-- -->
							<div class="card">
								<div class="media media--figure-bottom">
									<div class="media__figure media__figure--bottom">
										{{> carousel/carousel }}
									</div>
									<div class="media__body">
										<div class="card__copy">
											<h1 class="title card__title">
												<a href="#">News Sweater Brown J.W. Anderson</a>
											</h1>
											<p>{{lorem 's4'}}</p>
											<p>
												<del>{{currency}}159</del>
												{{currency}}119
											</p>
											[components]
											<a href="#" class="btn btn--primary">
												{{icon 'shopping-cart'}}
												Add to cart
											</a>
										</div>
									</div>
								</div>
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								2
							</div>
					</div>
				</div>

				<div class="card card--padded">
					<h1 class="title card__title">
						<a href="#">Aiaiai TMA-2 Dj Preset</a>
					</h1>
					{{lorem 'p'}}
					[components]
				</div>

				<div class="card card--padded">
					1
				</div>

				<div class="card card--padded">
					1
				</div>

				<div class="card card--padded">
					1
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-8@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									<span class="card__label">Shopping Bag</span>
								</header>
								<div class="card__body">
									{{#times 3}}
									<div>
										<div>
											<a href="#">{{icon 'close'}}</a>
											<a href="#">{{icon 'thumbs-up'}}</a>
										</div>
										<div>
											{{placeholder 100}}
										</div>
										<div>
											<h3 class="h5">
												<a href="">Common Projects Bball High</a>
											</h3>
											<p>White</p>
										</div>
										<div>
											<input type="number" value="1">
										</div>
										<div>
											{{currency}}549
										</div>
									</div>
									{{/times}}
								</div>
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								2
							</div>
					</div>
				</div>

				<div class="card card--padded">
					[components]
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-3@md">
						<!-- -->
							<div class="card card--padded">
								[components/field-list]
								[TODO]
								<button class="btn btn--primary btn--wide">Apply Filter</button>
							</div>
					</div>
					<div class="grid__item grid__item-3@md">
						<!-- -->
							<div class="card card--padded">
								[field circles]
								[TODO]
								[field-group]
								<button class="btn btn--primary btn--wide">Apply Filter</button>
							</div>
					</div>
					<div class="grid__item grid__item-3@md">
						<!-- -->
							<div class="card card--padded">
								3
							</div>
					</div>
					<div class="grid__item grid__item-3@md">
						<!-- -->
							<div class="card card--padded">
								4
							</div>
					</div>
				</div>

				<hr>

				<h1>Media</h1>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								[player]
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								[player]
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								<header class="header card__header">
									<span class="card__label">Music chart</span>
								</header>
							</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-8@md">
						<!-- -->
						<div class="card card--padded">
							<header class="header card__header">
								<span class="card__label">Best new music</span>
							</header>
							<div class="card__body">
								<div class="scroller">
									{{#times 6}}
									<div>
										{{placeholder 150}}
										<h3>Baroness</h3>
										<span>Purple</span>
										{{> rating/rating}}
									</div>
									{{/times}}
								</div>
							</div>
						</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
						<div class="card card--padded">
							<div class="card__body">
								{{#times 6}}
								<div>
									{{placeholder 40}}
									<h3>Baroness</h3>
									<span>Purple</span>
								</div>
								{{/times}}
							</div>
						</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								1
							</div>
					</div>
					<div class="grid__item grid__item-8@md">
						<!-- -->
							<div class="card card--padded">
								2
							</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-8@md">
						<!-- -->
							<div class="card card--padded">
								1
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								2
							</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-8@md">
						<!-- -->
							<div class="card card--padded">
								1
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								2
							</div>
					</div>
				</div>

				<div class="card card--padded">
					1
				</div>

				<div class="card card--padded">
					1
				</div>

				<div class="card card--padded">
					1
				</div>

				<div class="card card--padded">
					1
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-8@md">
						<!-- -->
							<div class="card card--padded">
								1
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								2
							</div>
					</div>
				</div>

				<hr>

				<h1>Charts</h1>

				[chart/bar]

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									<span>January, 19, Tuesday</span>
									{{icon 'navigation-more'}}
								</header>
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									<span>AAPL</span>
								</header>
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									<span>Statistics</span>
									{{icon 'navigation-more'}}
								</header>
							</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-8@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									<span>Statistics</span>
									{{icon 'navigation-more'}}
								</header>
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									<span>Overall Statistics</span>
									{{icon 'navigation-more'}}
								</header>
							</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									<span>Statistics</span>
									{{icon 'navigation-more'}}
								</header>
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									<span>Statistics</span>
									{{icon 'navigation-more'}}
								</header>
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									<span>Statistics</span>
									{{icon 'navigation-more'}}
								</header>
							</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									<span>Overall statistics</span>
									{{icon 'navigation-more'}}
								</header>
								<div class="card__body">
									<table>
										<tbody>
											{{#times 5}}
											<tr>
												<th>{{lorem 'w2'}}</th>
												<td>{{random 0 100}}%</td>
												<td>{{random 0 100}}%</td>
											</tr>
											{{/times}}
										</tbody>
									</table>
								</div>
							</div>
					</div>
					<div class="grid__item grid__item-8@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									<span>Statistics</span>
									{{icon 'navigation-more'}}
								</header>
							</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-3@md">
						<!-- -->
							<div class="card card--padded">
								<div class="media">
									<div class="media__figure">
										{{icon 'user' 'rounded'}}
									</div>
									<div class="media__body">
										<h6>Revenue</h6>
										<span>{{currency}}120 000</span>
									</div>
								</div>
							</div>
					</div>
					<div class="grid__item grid__item-3@md">
						<!-- -->
							<div class="card card--padded card--theme-1">
								<div class="media">
									<div class="media__figure">
										{{icon 'user' 'rounded'}}
									</div>
									<div class="media__body">
										<p>Bitcoin allows you to receive massive</p>
									</div>
								</div>
							</div>
					</div>
					<div class="grid__item grid__item-3@md">
						<!-- -->
							<div class="card card--padded card--theme-2">
								<div class="media">
									<div class="media__figure">
										{{icon 'user' 'rounded'}}
									</div>
									<div class="media__body">
										<h6>Revenue</h6>
										<span>{{currency}}340 500</span>
									</div>
								</div>
							</div>
					</div>
					<div class="grid__item grid__item-3@md">
						<!-- -->
							<div class="card card--padded card--theme-3">
								<div class="media">
									<div class="media__figure">
										{{icon 'user' 'rounded'}}
									</div>
									<div class="media__body">
										<h6>Arrived</h6>
										<span>{{random 10 59}} minutes ago</span>
									</div>
								</div>
							</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-8@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									<span>Traffic by Day <small>19 October</small></span>
									<a href="#" class="btn btn--primary btn--rounded btn--xs">Statistics</a>
								</header>
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									<span>Satisfaction Results</span>
									{{icon 'navigation-more'}}
								</header>
							</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									<span>Satisfaction Results</span>
									{{icon 'navigation-more'}}
								</header>
							</div>
					</div>
					<div class="grid__item grid__item-8@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									<span>Customers Overview</span>
									{{icon 'navigation-more'}}
								</header>
							</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-8@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									<span>Customers Overview</span>
									{{icon 'navigation-more'}}
								</header>
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								<a href="#" class="btn btn--primary btn--overview">Add new Widget</a>
							</div>
					</div>
				</div>

				<hr>

				<h1>Forms</h1>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								1
							</div>
					</div>
					<div class="grid__item grid__item-8@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									<span class="card__label">Contact Us</span>
								</header>
								<div class="card__body">
									{{> account/contact }}
								</div>
							</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								1
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								2
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								3
							</div>
					</div>
				</div>

				<div class="card card--padded">
					1
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-8@md">
						<!-- -->
							<div class="card card--padded">
								<span class="avatar">
									{{avatar}}
								</span>
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								<span class="avatar">
									{{avatar}}
								</span>
							</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded card--theme-1">
								<div class="card__body">
									<div class="align-center">
										<h2 class="title card__title">Subscribe</h2>
										<p>Get the day's top news stories delivered to your inbox</p>
									</div>
									{{> account/newsletter }}
								</div>
							</div>
					</div>
					<div class="grid__item grid__item-8@md">
						<!-- -->
							<div class="card card--padded">
								2
							</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-8@md">
						<!-- -->
							<div class="card card--padded">
								1
							</div>
					</div>
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded">
								2
							</div>
					</div>
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-6@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									{{> nav/steps }}
								</header>
							</div>
					</div>
					<div class="grid__item grid__item-6@md">
						<!-- -->
							<div class="card card--padded">
								<header class="card__header">
									{{> nav/steps }}
								</header>
							</div>
					</div>
				</div>

				<div class="card card--padded">
					1
				</div>

				<div class="grid grid--gutters">
					<div class="grid__item grid__item-4@md">
						<!-- -->
							<div class="card card--padded card--theme-1">
								<div class="card__content">
									<div class="card__body">
										<div class="align-center">
											<img class="card__icon" src="/assets/svgs/paper-plane.svg" width="80" alt="">
											<h1 class="card__title"><a href="#">Take a Gift</a></h1>
											<p>Creating an account quick and easy, and much more</p>
										</div>
										{{> account/newsletter }}
									</div>
								</div>
							</div>
					</div>
					<div class="grid__item grid__item-8@md">
						<!-- -->
							<div class="card card--padded">
								2
							</div>
					</div>
				</div>
</div>

<div style="background:#eee;padding:20px 0;">

	<div class="o__header">
		<h3 class="o__title">Wallet</h2>
	</div>
	<div class="container container--padded container--md">
		<!-- card -->
		<div class="card card--padded">
			<dl class="list list--table highlight">
				<dt>Total</dt>
				<dd class="align-right">{{currency}}703.20</dd>
			</dl>
		</div>
	</div>

	<div class="o__header">
		<h3 class="o__title">Wallet</h2>
	</div>
	<div class="container container--padded container--md">
		<!-- card -->
		<div id="address-book" data-title="Address Book">
			<div class="card card--padded">
				<h2 class="h5">Address book (3)</h2>
				<div class="card__content">
					<ul class="list list--unstyled sel">
						{{#times 3}}
						<li>
							<input type="radio" id="{{fid true}}" name="address" id="address-{{this}}">
							<label for="address-{{this}}">
								<address>
									{{{@root.address}}}
								</address>
							</label>
						</li>
						{{/times}}
					</ul>
					<button class="btn btn--wide btn--primary">Continue</button>
					<a href="shop.html#address-new" class="btn btn--wide btn--default js-overlay-o">Add New Address</a>
				</div>
			</div>
		</div>
		<!-- card -->
		<div class="card card--padded">
			<div id="address-new" data-title="New Address">
				<h2 class="h5">Add new address</h2>
				<div class="card__content">
					{{> form/number
						label				= "House number"
						field-float-label	= true
					}}

					{{> form/text
						label				= "Postcode"
						field-float-label	= true
					}}

					<button class="btn btn--wide btn--primary">Look up address</button>

					{{> form/text
						label				= "Street Address"
						field-float-label	= true
					}}

					{{> form/text
						label				= "Town"
						field-float-label	= true
					}}

					{{> form/text
						label				= "Region"
						field-float-label	= true
					}}

					{{> form/button
						label				= "Use this address"
					}}

				</div>
			</div>
		</div>
	</div>
	<div class="o__header">
		<h3 class="o__title">Amend item</h3>
	</div>
	<div class="container container--padded container--md">
		<!-- card -->
		<div id="amend-item" data-title="Amend Item">
			<div class="card card--padded">
				<h2 class="h5">Amend Item</h2>
				<div class="card__content">
					<div class="media media--top">
						<div class="media__figure">
							{{placeholder 55 75}}
						</div>
						<div class="media__body">
							<p><b>Lorem</b></p>
							{{> rating/rating}}
							<dl class="list list--line">
								<dt>Colour</dt>
								<dd>Green</dd>
								<dt>Size</dt>
								<dd>Medium</dd>
								<dt>Quantity</dt>
								<dd>1</dd>
							</dl>
						</div>
					</div>
					{{> form/text
						label				="Field"
						field-float-label	= true
					}}
					{{> form/text
						label				="Field"
						field-float-label	= true
					}}
					{{> form/text
						label				="Field"
						field-float-label	= true
					}}
					<button class="link">remove</button>
					<button class="btn btn--wide btn--primary">Save</button>
				</div>
			</div>
		</div>
	</div>

	<div class="o__header">
		<h3 class="o__title">Discount Code</h3>
	</div>
	<div class="container container--padded container--md">
		<!-- card -->
		<div id="discount-code" data-title="Discount Code">
			<div class="card card--padded">
				Discount code
			</div>
		</div>
	</div>

	<div class="o__header">
		<h3 class="o__title">Edit card</h3>
	</div>
	<div class="container container--padded container--md">
		<!-- card -->
		<div id="edit-card" data-title="Edit Card">
			<div class="card card--padded">
				Edit Card
			</div>
		</div>
	</div>

	<div class="o__header">
		<h3 class="o__title">Credit Application</h3>
	</div>
	<div class="banner banner--lg banner--hero">
		<img class="banner__image" src="/placeholder/media/placeholder-16.jpg" alt="">
		<div class="container container--padded container--md banner__container">
			<div class="inner banner__inner">
				<div class="align-center">
					{{icon 'success'}}
					<h1 class="h3">Great! Your account has been created</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="container container--padded container--md">
		<!-- card -->
		<div class="card card--padded">
			<div class="card__content">
				{{lorem 'p'}}
				<div class="divider"></div>
				<dl class="list list--table">
					<dt>Available Credit</dt>
					<dd class="align-right">{{currency}}1000</dd>
					<dt>Next Payment Date</dt>
					<dd class="align-right">13th July 2016</dd>
					<dt>Monthly Payment</dt>
					<dd class="align-right">{{currency}}66.67</dd>
				</dl>
				<button class="btn btn--wide btn--primary">Accept agreement</button>
			</div>
		</div>
	</div>
	<div class="o__header">
		<h3 class="o__title">Forgotten Password</h3>
	</div>
	<div class="container container--padded container--md">
		<!-- card -->
		{{> msg/msg-info content="We’ve sent you an email. Follow the link on the email to create a new password"}}
		<div class="card card--padded">
			<div class="card__content">
				{{> form/email
					label				= "Email"
					field-float-label	= true
				}}

				{{> form/text
					label				= "Postcode"
					field-float-label	= true
				}}

				{{> form/date
					label				= "Date of Birth"
					field-float-label	= true
				}}

				{{> form/button
					label				= "Send new password to email"
				}}
			</div>
		</div>
	</div>

	<div class="container container--padded container--md">

		<div class="container container--padded">
			<div class="grid grid--gutters">
				<div class="grid__item grid__item-4@md">
					{{> counter/counter from=80 to=1000}}
				</div>
				<div class="grid__item grid__item-4@md">
					{{> counter/counter from=80 to=1000}}
				</div>
				<div class="grid__item grid__item-4@md">
					{{> counter/counter from=80 to=1000}}
				</div>
			</div>
		</div>

		{{> carousel/carousel }}

		{{> nav/steps}}

		<!-- card -->
		<div id="wallet">
			<div class="card card--padded">
				<h2 class="h5">{{icon 'credit-card' 'md'}} Cards (3)</h2>
				{{#times 3}}
				<label class="card__header">
					<h3 class="card__label h5">{{icon 'credit-card' 'md'}} Visa ending xxx (Default)</h3>
					<!--<span class="card__label">Features</span>-->
					<span>ss</span>
					<!--<span class="ui ui--close">{{icon 'cross' 'sm'}}</span>-->
				</label>
				<div class="card__content">
					<dl class="list list--table">
						<dt>Type</dt>
						<dd class="align-right">Mastercard</dd>
						<dt>Card number</dt>
						<dd class="align-right">**** **** **** *123</dd>
						<dt>Cardholder name</dt>
						<dd class="align-right">{{samplename}}</dd>
					</dl>
					<a href="/templates/shop.html#edit-card" class="js-overlay-o">Edit card</a>
					<button class="btn btn--wide btn--primary">Pay using this card</button>
				</div>
				{{/times}}
			</div>
			<div class="card card--padded">
				<h2 class="h5">{{icon 'credit-card' 'md'}} Add new card</h2>
				<div class="card__content">
					<button class="btn btn--wide btn--primary">Add and use card</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container container--padded container--md">

		<div class="card card--padded">
			<div class="card__content">
				<span class="sale">Sale</span>
				<h1 class="h5">LG 49UF770V 49 Inch 4K Ultra HD Freeview HD LED TV - Black</h1>
				<dl class="list list--line">
					<dt>Was</dt>
					<dd><del>{{currency}}1,099.00</del></dd>
					<dt>Now</dt>
					<dd><ins>{{currency}}499.00</ins></dd>
					<dt>Save</dt>
					<dd>{{currency}}600.00</dd>
				</dl>
				{{> rating/rating rating=4}}
			</div>
		</div>

		<div class="card card--padded">
			<div class="card__content">
				<h1 class="h4">Basket summary</h1>

				<ul class="list list--unstyled list-underlined list-underlined--lg">
					<li>
						<div class="media media--top">
							<div class="media__figure">
								{{icon 'block'}}
							</div>
							<div class="media__body">
								<dl class="list list--table">
									<dt>Basket total Items</dt>
									<dd class="align-right">{{currency}}879.00</dd>
								</dl>
							</div>
						</div>
					</li>
					<li>
						<div class="media media--top">
							<div class="media__figure">
								{{icon 'time'}}
							</div>
							<div class="media__body">
								<dl class="list list--table">
									<dt>Express Delivery</dt>
									<dd class="align-right">{{currency}}15.00</dd>
								</dl>
							</div>
						</div>
					</li>
					<li>
						<div class="media media--top">
							<div class="media__figure">
								{{icon 'block'}}
							</div>
							<div class="media__body">
								<dl class="list list--line">
									<dt>Arrives</dt>
									<dd>Tuesday 19th</dd>
									<dt class="hide@screen">Address</dt>
									<dd><address class="address">{{{address}}}</address></dd>
									<dd><a href="/templates/shop.html#address-book" class="js-overlay-o">Edit</a></dd>
								</dl>
							</div>
						</div>
					</li>
					<li>
						<div class="media media--top">
							<div class="media__figure">
								{{icon 'tag'}}
							</div>
							<div class="media__body">
								<dl class="list list--table">
									<dt>20% off your first order</dt>
									<dd class="align-right">-{{currency}}175.80</dd>
								</dl>
								<a href="/templates/shop.html#discount-code" class="js-overlay-o">Add voucher code</a>
							</div>
						</div>
					</li>
				</ul>

				<div class="highlight highlight--flush">
					<dl class="list list--table">
						<dt>Total</dt>
						<dd class="align-right">
							<span class="currency">
								<span class="currency__type">{{currency}}</span><!--
								--><span class="currency__unit">703</span><!--
								--><span class="currency__fraction">.20</span>
							</span>
						</dd>
					</dl>
				</div>

				<dl class="list list--table">
					<dt>3 monthly payments of</dt>
					<dd class="align-right">{{currency}}234.39</dd>
				</dl>

			</div>
		</div>

		<div class="card card--padded">
			<div class="card__content">
				<h1 class="h4">Basket</h1>
				<div class="media media--top">
					<div class="media__figure">
						{{icon 'tag'}}
					</div>
					<div class="media__body">
						<h1 class="h5">LG 49UF770V 49 Inch 4K Ultra HD Freeview HD LED TV - Black</h1>
						{{> rating/rating rating=4}}
						<dl class="list list--line">
							<dt>Colour</dt>
							<dd>Green</dd>
							<dt>Size</dt>
							<dd>Medium</dd>
							<dt>Quantity</dt>
							<dd>1</dd>
							<dd><a href="/templates/shop.html#amend-item" class="js-overlay-o">Edit</a></dd>
						</dl>
						<dl class="list list--table">
							<dt>Item price</dt>
							<dd class="align-right">{{currency}}300.80</dd>
							<dt>Discount</dt>
							<dd class="align-right">-{{currency}}66.67</dd>
						</dl>
						<div class="highlight highlight--flush">
							<dl class="list list--table">
								<dt>3 monthly payments of</dt>
								<dd class="align-right">{{currency}}77.77</dd>
							</dl>
						</div>
						<a href="/templates/shop.html#discount-code" class="js-overlay-o">Add voucher code</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="container container--padded container--md">
		<ul class="list list--unstyled list-underlined">
			<li><a href="/templates/shop.html#amend-item" class="btn btn--wide btn--primary js-overlay-o">Amend Item</a></li>
			<li><a href="/templates/shop.html#address-book" class="btn btn--wide btn--primary js-overlay-o">Address Book</a></li>
			<li><a href="/templates/form/password-reset.html#password-reset" class="btn btn--wide btn--primary js-overlay-o">Reset Password</a></li>
			<li><a href="/templates/form/register.html#register" class="btn btn--wide btn--primary js-overlay-o">Register</a></li>
			<li><a href="/templates/form/login.html#login" class="btn btn--wide btn--primary js-overlay-o">Login</a></li>
			<li><a href="/templates/form/password-forgot.html#password-forgot" class="btn btn--wide btn--primary js-overlay-o">Forgot Password</a></li>
		</ul>
	</div>

	<div class="banner banner--lg">
		<img class="banner__image" src="/placeholder/media/placeholder-01.jpg" alt="">
		<div class="container container--padded container--md banner__container">
			<div class="inner banner__inner">
				<span>{{icon 'block'}} Credit Card</span>
				<h1 class="h3">Manage your spends without waiting for new things</h1>
			</div>
		</div>
	</div>
	<div class="container container--padded container--md">
		<!-- card -->
		<div class="card card--plain card--padded">
			<ol class="list list--tick">
				<li>Credit limit up to &pound;1,500</li>
				<li>Access account on your phone or computer to stay in control 24/7</li>
				<li>Choose your own monthly payment date</li>
			</ul>
		</div>
		<div class="card card--padded">
			<ul class="list list--unstyled list-underlined list-underlined--lg">
				{{#times 3}}
				<li>
					<div class="media">
						<div class="media__figure">
							{{placeholder 100}}
						</div>
						<div class="media__body">
							{{lorem 's2'}}
						</div>
					</div>
				</li>
				{{/times}}
			</ul>
		</div>
		<hr class="divider">
		{{#times 3}}
		<div class="quicklink quicklink--white">
			<div class="media">
				<div class="media__figure">
					<div style="margin-top:-1.4rem;margin-bottom:-1.4rem;">
						{{placeholder 100}}
					</div>
				</div>
				<div class="media__body">
					<p class="quicklink__title"><a href="#">{{lorem 's1'}} {{icon 'cheveron-right' 'sm'}}</a></p>
				</div>
			</div>
		</div>
		{{/times}}
	</div>

	<div class="banner banner--lg banner--hero">
		<img class="banner__image" src="/placeholder/media/placeholder-16.jpg" alt="">
		<div class="container container--padded container--md banner__container">
			<div class="inner banner__inner">
				{{icon 'block'}}
				<span class="label label--success">Example Label</span>
				<h1 class="h3">Getting more from your day with our ways to pay</h1>
			</div>
		</div>
	</div>

	<div class="container container--padded container--md">
		<div class="card card--padded">
			<div class="card__content">
				{{> toggle/toggle groupname="test"}}
			</div>
		</div>
	</div>

	<div class="container container--padded container--md">
		<div class="card card--padded">
			<div class="card__content">

				{{> tabs/tabs}}

				{{> carousel/carousel }}

				<p class="card__wide align-center">You just need to confirm your order and put your feet up</p>
				<a href="#" class="btn btn--wide btn--primary">Confirm order</a>
				<a href="/templates/form/login.html#login" class="btn btn--wide btn--tertiary js-overlay-o">Sign in now</a>
			</div>
		</div>
	</div>

	<section class="sctn">
		<div class="container container--padded container--md">
			{{lorem 'p'}}
		</div>
	</section>

	<section class="sctn sctn--alt">
		<div class="container container--padded container--md">
			{{lorem 'p'}}
		</div>
	</section>

	<div class="container container--padded container--md">
		<div class="card card--padded">
			<div class="card__content">
				{{lorem 'p'}}
				<div class="msg msg--error">
					{{lorem 's2'}}
				</div>
			</div>
		</div>
		<div class="card card--padded card--stack">
			<div class="card__content">
				{{lorem 'p'}}
			</div>
		</div>
		<div class="card card--padded">
			<div class="card__content">
				<ul class="list list--unstyled list-underlined list-underlined--lg">
					{{#times 3}}
					<li>
						{{> layout/media}}
					</li>
					{{/times}}
				</ul>
				<p class="align-center">{{lorem 's'}} <a href="tel:">{{telephone}}</a></p>
			</div>
		</div>

		<div class="card card--padded">
			<div class="card__content">
				{{> toggle/toggle groupname="test"}}
			</div>
		</div>
		<div class="card card--padded">
			<div class="card__content">
				{{> toggle/toggle groupname="test"}}
			</div>
		</div>
		<div class="card card--padded card--stack">
			<div class="card__content">
				{{> toggle/toggle groupname="test"}}
			</div>
		</div>
		<div class="card card--padded card--plain">
			<div class="card__content align-center">
				<h3 class="h5">Get 20% off your first credit order</h3>
				{{lorem 'p'}}
				<a href="#" class="btn btn--wide btn--primary">Apply for personal credit</a>
			</div>
		</div>
	</div>

	<div class="container container--padded container--md">
		<p>
			<span class="currency">
				<span class="currency__type">{{currency}}</span><span class="currency__unit">100</span>.<span class="currency__fraction">00</span>
			</span>
		</p>
		{{!-- {{> libs/form/incrementor }} --}}
	</div>
</div>

<div class="divider"></div>

<div class="container container--md">
	{{#times 2}}
	<div class="quicklink">
		<h2 class="h4 quicklink__title"><a href="#">{{icon 'block' }} {{lorem 'w3'}}</a></h2>
		<p>{{lorem 's2'}}</p>
	</div>
	{{/times}}
</div>

<div class="banner banner--lg b\anner--hero b\anner--overlap">
	<img class="banner__image" src="/placeholder/media/placeholder-11.jpg" alt="">
	<div class="container container--md banner__container">
		<div class="inner banner__inner">
			<h3>Feeling stuck? Expert help and advice is only a call (or a click) away</h3>
			<footer class="banner__footer">
				<p>{{icon 'phone'}} Call us on {{telephone}}</p>
			</footer>
		</div>
	</div>
</div>

<div class="banner">
	<img class="banner__image" src="/placeholder/media/placeholder-10.jpg" alt="">
	<div class="container container--md banner__container">
		<div class="inner banner__inner">
			<h3>{{icon 'photo'}} Very account</h3>
			<p>Apply online today and start shopping straight away!</p>
			<ul class="list list--justify list--tick">
				<li>Quick</li>
				<li>Easy</li>
				<li>Instant</li>
			</ul>
			<a href="#" class="btn btn--wide btn--primary">Apply now</a>
		</div>
	</div>
</div>

<div class="container container--padded">

	<nav class="nav nav--secondary">
		<ul class="nav__level nav__level-1">
			<li class="nav__header"><span class="nav__text">Go to</span></li>
			<li class="nav__item"><a href="#">My Profile</a></li>
			<li class="nav__item nav__active"><a href="#">Settings</a></li>
			<li class="nav__item"><a href="#">Skype</a></li>
			<li class="nav__item nav__active nav__divider"><span class="a">Skype</span></li>
			<li class="nav__item nav__divider"><a href="#">Skype</a></li>
			<li class="nav__item"><a href="#">{{icon 'link'}} Skype</a></li>
			<li class="nav__item nav__active"><span class="a">{{icon 'link'}} Skype</span></li>
		</ul>
	</nav>
</div>

<hr>

<div class="container container--sm">
	<div class="card">
		<div class="media media--top u-mar-b">
			<figure class="media__figure">
				{{icon 'close'}}
			</figure>
			<div class="media__body">
				<h4>Buy Now Pay in 24 months</h4>
				<p>Get what you need today, take up to 24 months to pay £900.00 off and <b>pay no interest</b></p>
			</div>
		</div>
		<div class="box box--alt">
			<dl class="list list--table list--table-right alt">
				<dt>Fees</dt>
				<dd>Free</dd>
				<dt>Intrest rate</dt>
				<dd>No interest</dd>
				<dt>Total cost of credit</dt>
				<dd>£900.00</dd>
				<dt>Next payment due date</dt>
				<dd>27/07/2017</dd>
			</dl>
		</div>
		<a href="#" class="btn btn--wide btn--positive">Buy on offer {{icon 'cheveron-right'}}</a>
		<p><small><b>No interest</b> if you pay the full amount before the end of the payment free period.</small></p>
		<p><small>Or the estimated interest for your payment free period will be <b>£261.72</b> as <b>39.9%</b> veriable per annum.</small></p>
	</div>

	<div class="card">
		<div class="box">
			<p>Hi Laura, to get started we just need you to check th details below are correct</p>
			<div class="box box--alt box--level">
				<dl class="alt list list--table list--table-right {modifier}">
					<dt>Title</dt>
					<dd>Mrs</dd>
					<dt>First name</dt>
					<dd>Laura</dd>
					<dt>Last name</dt>
					<dd>Very</dd>
					<dt>Date of birth</dt>
					<dd>04/08/1985</dd>
					<dt>Phone number</dt>
					<dd>07875 000 000</dd>
				</dl>
			</div>
			<a href="#" class="btn btn--wide btn--negative">Edit details</a>
			<a href="#" class="btn btn--wide btn--positive">Continue</a>
		</div>
	</div>

	{{#times 3}}
	<div class="card card--stacked togs">
		<input type="checkbox" id="toga-{{this}}">
		<div class="togs__head">
			<label for="toga-{{this}}">
				<span class="media media--top">
					<span class="media__figure">
						<span class="togs__select">{{icon 'close'}}</span>
					</span>
					<span class="media__body">
						<b>Buy now, pay up to 12 months later</b>
						<p class="u-mar-zero">Get what you need today, take up to 12 months to pay £900.00 off to avoid interest</p>
					</span>
				</span>
				<span class="ui ui--arrow">{{icon 'cheveron-up'}}</span>
			</label>
		</div>
		<div class="togs__body">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur labore unde fugiat omnis ullam! Tempore libero iusto distinctio saepe eius obcaecati eum omnis similique, consectetur officiis illo optio, fuga exercitationem!</p>
		</div>
	</div>
	{{/times}}

	<div class="card">
		<h2 class="h4">Basket Summary</h2>
		<ul class="list list--unstyled list-underlined list-underlined--lg">
			<li>
				<div class="media media--t\op">
					<figure class="media__figure">
						{{icon 'shopping-cart'}}
					</figure>
					<div class="media__body">
						<dl class="list list--table list--table-right alt">
							<dt>Basket items</dt>
							<dd>£1200.00</dd>
						</dl>
					</div>
				</div>
			</li>
			<li>
				<div class="media media--t\op">
					<figure class="media__figure">
						{{icon 'earth'}}
					</figure>
					<div class="media__body">
						<a href="../account/discount-code.html#content" data-overlay-trigger=''>Add offer code</a>
					</div>
				</div>
			</li>
			<li>
				<div class="media media--top">
					<figure class="media__figure">
						{{icon 'cog'}}
					</figure>
					<div class="media__body">
						<dl class="list list--table list--table-right alt">
							<dt>Standard Delivery</dt>
							<dd>Free</dd>
							<dd>Arrives Tuesday 19th</dd>
							<dd>48 Lilac Road, Beighton, Sheffield, S20 1FN</dd>
							<dd><a href="#">Edit</a></dd>
						</dl>
					</div>
				</div>
			</li>
			<li>
				<div class="media media--top">
					<figure class="media__figure">
						{{icon 'thumbs-up'}}
					</figure>
					<div class="media__body">
						<dl class="list plain">
							<dt>Payment type</dt>
							<dd>Very Account</dd>
							<dd><a href="#">Edit</a></dd>
						</dl>
					</div>
				</div>
			</li>
		</ul>

		<div class="box box--alt">
			<dl class="list list--table list--table-right alt">
				<dt>Total</dt>
				<dd>{{format-currency 1200}}</dd>
			</dl>
		</div>
		<div class="box">
			<dl class="list list--table list--table-right alt">
				<dt>3 monthly payments of</dt>
				<dd>{{format-currency 400}}</dd>
			</dl>
		</div>

	</div>

	<div class="card">
		<div class="media media--top">
			<figure class="media__figure">
				<img src="/assets/svgs/book.svg" width="80" alt="">
			</figure>
			<div class="media__body">
				<div class="tabular">
					<div class="tabular__item">
						<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa sed autem repellat numquam sint cupiditate dolore, earum quam at eligendi inventore quod, perferendis sit natus aliquid fuga tempore debitis commodi!</h5>
					</div>
					<div class="tabular__item">
						{{format-currency 900}}
					</div>
				</div>
				{{> rating/rating}}
				<dl class="list list--line plain">
					<dt>Item number</dt>
					<dd>AIM33</dd>
					<dt>Colour</dt>
					<dd>Pink</dd>
					<dt>Quantity</dt>
					<dd>1</dd>
				</dl>

				<ul class="list list--inline">
					<li><a href="#">Edit</a></li>
					<li><a href="#">Remove</a></li>
				</ul>

			</div>
		</div>
	</div>

	<div class="card">
		<div class="media media--top u-mar-b">
			<figure class="media__figure">
				{{icon 'cog'}}
			</figure>
			<div class="media__body">
				<p><b>We'll need to increase your credit limit by £500 to £1000</b></p>
				<p>You will have to increase your credit limit in order to purchase this item on your account. If you're happy to go ahead, just check the details below and then click continue to accept.</p>
			</div>
		</div>

		<div>
			<ul class="list list--unstyled">
				<li>Credit used</li>
				<li>Basket total</li>
				<li>Available</li>
			</ul>
		</div>

		<div class="box box--alt">
			<dl class="list list--table list--table-right">
				<dt>Item name</dt>
				<dd>£900.00</dd>
			</dl>
		</div>
		<div class="box box--alt">
			<dl class="list list--table list--table-right">
				<dt>Item name</dt>
				<dd>£900.00</dd>
			</dl>
		</div>

		<a href="#" class="btn btn--wide btn--positive">Continue {{icon 'cheveron-right'}}</a>
	</div>

	<div class="card">
		<div class="media media--top u-mar-b">
			<figure class="media__figure">
				{{placeholder 50 70}}
			</figure>
			<div class="media__body">
				<h5>Item name</h5>
				{{> rating/rating}}
				<dl class="list list--line plain">
					<dt>Item number</dt>
					<dd>AIM33</dd>
					<dt>Colour</dt>
					<dd>Pink</dd>
					<dt>Quantity</dt>
					<dd>1</dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="card card--stacked">
		<div class="media media--top u-mar-b">
			<figure class="media__figure">
				{{placeholder 50 70}}
			</figure>
			<div class="media__body">
				<h5>Item name</h5>
				{{> rating/rating}}
				<dl class="list list--line plain">
					<dt>Item number</dt>
					<dd>AIM33</dd>
					<dt>Colour</dt>
					<dd>Pink</dd>
					<dt>Quantity</dt>
					<dd>1</dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="card">

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet officiis et voluptatibus sit culpa rem fuga a! Maiores odio dicta soluta nemo aperiam qui a, enim rem dolorem eligendi deserunt!</p>

		<div class="box box--alt">
			<dl class="list list--table list--table-right alt">
				<dt>Available credit</dt>
				<dd>£1,000</dd>
			</dl>
		</div>

		<ul class="list list--tick list-underlined list-underlined--lg">
			<li>
				<strong>Pay no interest</strong>
			</li>
			<li>
				<strong>Pay Now Pay Later</strong>
			</li>
			<li>
				<strong>20% off your first order</strong>
			</li>
		</ul>

		<a href="#" class="link">
			<span class="media media--top">
				<span class="media__figure">
					{{icon 'cog'}}
				</span>
				<span class="media__body">
					Standard European Consumer Credit information
				</span>
			</span>
		</a>

		<a href="#" class="link link--bordered">
			<span class="media media--top">
				<span class="media__figure">
					{{icon 'cog'}}
				</span>
				<span class="media__body">
					Standard European Consumer Credit information
				</span>
			</span>
		</a>
		<a href="#" class="link link--bordered">
			<span class="media media--top">
				<span class="media__figure">
					{{icon 'cog'}}
				</span>
				<span class="media__body">
					<strong>Now you need to sign your Credit Agreement</strong>
					<br>
					Credit Agreement regulated by the Consumer Credit Act 1974
				</span>
			</span>
		</a>

		{{> msg/msg
			type				= "info"
		}}

		<ul class="list list--tick list-underlined list-underlined--lg">
			<li>
				<strong>Pay no interest</strong>
				<br>
				Split the cost into three easy payments with <b>take 3</b>
			</li>
			<li>
				<strong>Pay Now Pay Later</strong>
				<br>
				Delay payments for up to a year
			</li>
			<li>
				<strong>20% off your first order</strong>
				<br>
				Apply in minutes and get a super-fast credit decision
			</li>
		</ul>

		<hr>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae cum consectetur quas deserunt sit eligendi fuga illum aliquam deleniti facere laudantium id molestiae, illo at impedit. Ex ipsum enim libero.</p>

		<a href="#" class="btn btn--wide btn--positive">Apply for the Very Account {{icon 'cheveron-right'}}</a>
	</div>
</div>
