// Keep site variables outside of the main .scss file, we do this so variables
// can be easily reused in more places, e.g. we may need to create email templates
// then we just include this file, and we're ready to go.

/// Main Brand Colour
/// @group primary-colour
/// @access private
/// @type Color
$clr-primary					: #408EE6;

/// Secondary Brand Colour
/// @group primary-colour
/// @access private
/// @type Color
$clr-secondary					: #ff00ff;

/// ...
/// @group test
/// @access private
/// @type Color
$debug							: false;

$fw-colour2						: $clr-primary;

$debug-colour					: #ff00ff;

$base-font-family				: "Open Sans", $serif-font-family;
$base-heading-font-family		: "Poppins", $serif-font-family;

