
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:300,400,500,600,700');

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Libraries
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@import "libs/normalize/normalize";

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ...
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@import "libs/scss/constants";
@import "variables";
@import "libs/scss/defaults";
@import "libs/scss/functions";
@import "libs/scss/mixins";
@import "libs/scss/placeholders";

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ...
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@import "libs/base/base";

@import "libs/typography/typography";

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Layout
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@import "libs/layout/layout";
@import "libs/layout/container";
@import "libs/layout/media";
@import "libs/layout/grid";
@import "libs/layout/columns";
@import "libs/layout/text-columns";
@import "libs/layout/row-cells";

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ...
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@import "libs/button/button";
@import "libs/form/credit-card";
@import "libs/ui/ui";
@import "libs/msg/msg";
@import "libs/icon/icon";
@import "libs/list/list";
@import "libs/updater/updater";
@import "libs/banner/banner";

@import "libs/form/form";

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Modules
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@import "libs/nav/nav";
@import "libs/nav/mobile";
@import "libs/nav/inline";
@import "libs/nav/multilevel";

@import "libs/nav/icons";
@import "libs/nav/tags";
@import "libs/nav/logo";
@import "libs/nav/breadcrumb";
@import "libs/nav/top";
@import "libs/nav/secondary";
@import "libs/nav/pagination";

@import "libs/toggle/toggle";
@import "libs/overlay/overlay";
@import "libs/alert/alert";
@import "libs/map/map";
@import "libs/card/card";
@import "libs/popout/popout";
@import "libs/counter/counter";

@import "libs/carousel/carousel";
@import "libs/widget/widget";
@import "libs/wordpress/wordpress";

@import "libs/debug/debug";

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Partials
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@import "partials/header";
@import "partials/footer";
@import "partials/box";
@import "partials/comment";
@import "libs/rating/rating";
@import "libs/link/link";
@import "libs/badge/badge";
@import "libs/label/label";
@import "libs/responsive/responsive";
@import "libs/utility/utility";

.xx
{
	position					: relative;
	display						: block;
	margin						: 120px auto 0 auto;
	padding-top					: 20px;
	width						: 40px;

	.icon
	{
		margin-top				: -20px;
	}

	.popout
	{
		position				: absolute;
		min-width				: 260px;
		max-width				: 300px;
		bottom					: 40px;
		left					: -115px;
	}

	&:hover
	{
		.popout
		{
			visibility			: visible;
			transform			: none;
			opacity				: 1;
			pointer-events		: auto;
		}
	}
}

.article
{
	&--main
	{
		@include device(lg)
		{
			padding-left			: 100px;
			padding-right			: 100px;

			.pull
			{
				margin-left			: -100px;

				&--alt
				{
					margin-left		: 2rem;
					margin-right	: -100px;
				}
			}

			.carousel
			{
				margin-left			: -150px;
				margin-right		: -150px;
			}
		}
	}

	&__content
	{
		//border					: 1px solid red;

		/*
		> *
		{
			max-width			: $site-width;
			margin-left			: auto;
			margin-right		: auto;
		}
		*/

		> * + *
		{
			margin-top			: 1.5rem;
		}
	}
}

.tmp-wide
{
	> *
	{
		max-width				: $site-width;
		margin-left				: auto;
		margin-right			: auto;
	}

	> .g,
	> .banner,
	> .carousel
	{
		max-width				: initial;
	}
}

// the following is just me testing and playing around with stuff, these will probably find their way into a module
.page-bar
{
	border-top					: 1px solid #d2d3d4;
	border-bottom				: 1px solid #d2d3d4;
	background-color			: #f6f6f6;
	padding						: 1.5rem 0;
	margin						: 0 0 1rem 0;
}

.stat-bar
{
	background-color			: #f6f6f6;
	padding						: .6rem;
	margin						: 0 0 .2rem;
	position					: relative;
	display						: block;
	color						: #fff;

	&__label
	{
		display					: block;
		position				: relative;
		z-index					: 2;
	}

	&__bar
	{
		position				: relative;
		z-index					: 1;
		position				: absolute;
		top						: 0;
		bottom					: 0;
		left					: 0;
		background-color		: $clr-primary;
		background-image		: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
		background-size			: 40px 40px;
		background-repeat		: repeat;
		animation				: progress-bar-stripes 2s linear infinite;
	}
}

@keyframes progress-bar-stripes
{
	from
	{
		background-position		: 40px 0;
	}

	to
	{
		background-position		: 0 0;
	}
}

@import "libs/eq/eq";

.figly
{
	position					: relative;
	background-color			: #000;

	img
	{
		display					: block;
		margin					: 0 auto;
	}

	figcaption
	{
		//width					: 100%;
		position				: absolute;
		bottom					: 0;
		background-color		: rgba(#000, .5);
		width					: 100%;
		padding					: 1rem;
		color					: #fff;
		text-align				: center;

		> div
		{
			margin				: 0 auto;
			max-width			: $site-width;
			padding				: 0 1rem;
		}
	}
}

.img
{
	position					: relative;
	z-index						: 1;
	vertical-align				: bottom;
	display						: inline-block;
	overflow					: visible;

	&:before
	{
		position				: absolute;
		transition				: opacity .35s;
		opacity					: 0;
		top						: 0;
		left					: 0;
		z-index					: 1;
		width					: 100%;
		content					: '';
		box-shadow				: 0 3px 15px rgba(0, 0, 0, .4);
		height					: 100%;
	}

	&:hover
	{
		&:before
		{
			opacity				: 1;
		}
	}

	img
	{
		transform				: perspective(1000px) scale(1);
		transition				: transform .35s;
		position				: relative;
		z-index					: 1;
	}

	&:hover
	{
		img
		{
			transform			: perspective(1000px) scale(1.03);
		}
	}
}

/*---
Example Link
@group			Links
@desc			...
@modifier		active			: Active
@author			Michael Ord
@tags			link
---
<a href="#" class="linktmp">Link One</a>
<a href="#" class="linktmp {modifier}">Link Two</a>
<a href="#" class="linktmp">Link Three</a>
*/
@mixin linktop()
{
	display						: inline-block;
	position					: relative;
	color						: inherit;

	&:after
	{
		display					: block;
		width					: 0%;
		margin					: .2rem auto 0 auto;
		height					: 2px;
		background				: $clr-primary;
		transition				: width .5s;
		content					: "";
	}

	&.active,
	&:hover,
	&:focus
	{
		color					: $clr-primary;

		&:after
		{
			width				: 100%;
		}
	}

	&,
	&:hover,
	&:focus
	{
		text-decoration			: none;
	}

	& + &
	{
		margin-left				: 1rem;
	}
}

.linktmp
{
	@include linktop();

	font-weight					: 600;
}

/*---
Images
@group			UIComponents/Images
@desc			...
@modifier		img--rounded		: Rounded
@modifier		img--thumbnail		: Thumbnail
@todo			Document
@author			Michael Ord
@tags			embedded,image
---
<img src="//placehold.it/100" class="img {modifier}">
*/
.img
{
	&--rounded
	{
		border-radius			: 100%;
	}

	&--thumbnail
	{
		box-shadow				: 2px 2px 1px rgba(152, 152, 152, .15);
	}
}

/*---
Chart Legend
@group			UIComponents/Chart
@desc			...
@modifier		chart-legend--inline	: Inline Chart
@todo			Document
@author			Michael Ord
@tags			chart,visual
---
<ul class="chart-legend {modifier}">
	<li>Addition (porro quaerat debitis explicabo natus enim recusandae, Mollitia quas magni eum? Quod quasi ipsam delectus obcaecati soluta)</li>
	<li>Subtraction</li>
	<li>Multiplication</li>
	<li>Division</li>
</ul>
*/
.chart-legend
{
	list-style					: none;
	margin						: 1rem auto;

	background					: #fff;
	padding						: .7rem 1rem;
	box-shadow					: 1px 1px 0 #DDD, 2px 2px 0 #BBB;

	> li
	{
		border-left				: 1.2rem solid #000;
		padding					: 0 0 0 .5rem;
		margin					: .3rem 0;
	}

	@include device(md)
	{
		&--inline
		{
			> li
			{
				display			: inline-block;
				margin-right	: 1rem;
			}
		}
	}
}

/*---
Chart Key
@group			UIComponents/Chart
@desc			...
@todo			Document
@author			Michael Ord
@tags			chart,visual
---
<ul class="chart-legend">
	<li>Addition (porro quaerat debitis explicabo natus enim recusandae, Mollitia quas magni eum? Quod quasi ipsam delectus obcaecati soluta)</li>
	<li>Subtraction</li>
	<li>Multiplication</li>
	<li>Division</li>
</ul>

<ul class="chart-legend chart-legend--inline">
	<li>Addition (porro quaerat debitis explicabo natus enim recusandae, Mollitia quas magni eum? Quod quasi ipsam delectus obcaecati soluta)</li>
	<li>Subtraction</li>
	<li>Multiplication</li>
	<li>Division</li>
</ul>

<p><span class="chart-key"></span> Addition</p>
*/
.key
{
	display						: inline-block;
	vertical-align				: middle;
	width						: 1.2rem;
	height						: 1.2rem;
	border						: 1px solid #000;
	margin						: -.2rem .4rem 0 0;
	background-color			: #fff;
}

/*---
Currency
@group			Typography/Currency
@desc			...
@modifier		currency--lg	: Large
@todo			Document
@author			Michael Ord
@tags			typography
---
<span class="currency {modifier}">&pound;200<span class="currency__digits">.00</span></span>
*/
.currency
{
	&--lg
	{
		font-size				: 120%;
	}

	&__digits
	{
		font-size				: 70%;
	}
}

body
{
	/*---
	Body
	@group			Utility
	@desc			noscroll
	@todo			Document
	@author			Michael Ord
	@tags			helper
	---
	...
	*/
	&.noscroll
	{
		overflow				: hidden;
		position				: relative;
	}
}

/*---
Form Table
@group			Base/Table
@desc			...
@author			Michael Ord
@tags			table,form
@source			false
---
<table class="table table--hover {modifier}">
	<caption>Some fantastical towns and their key characteristics</caption>
	<thead>
		<tr>
			<th class="cell-checkbox" scope="col"></th>
			<th scope="col">ID</th>
			<th scope="col">Founding feature</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="cell-checkbox" scope="row"><input type="checkbox" id="" name=""></th>
			<td>1293</td>
			<td>Ancient water source</td>
			<td>
				<ul class="list list--inline">
					<li>
						<button class="ui ui--unstyled"><i aria-hidden="true" class="icon icon--edit-pencil"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/media/icons.svg#edit-pencil"></use></svg></i></button>
					</li>
					<li>
						<button class="ui ui--unstyled"><i aria-hidden="true" class="icon icon--trash"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/media/icons.svg#trash"></use></svg></i></button>
					</li>
					<li>
						<button class="ui ui--unstyled"><i aria-hidden="true" class="icon icon--chat-bubble-dots"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/media/icons.svg#chat-bubble-dots"></use></svg></i></button>
					</li>
				</ul>
			</td>
		</tr>
		<tr>
			<th class="cell-checkbox" scope="row"><input type="checkbox" id="" name=""></th>
			<td>1293</td>
			<td>Ancient water source</td>
			<td>
				<ul class="list list--inline">
					<li>
						<button class="ui ui--unstyled"><i aria-hidden="true" class="icon icon--edit-pencil"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/media/icons.svg#edit-pencil"></use></svg></i></button>
					</li>
					<li>
						<button class="ui ui--unstyled"><i aria-hidden="true" class="icon icon--trash"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/media/icons.svg#trash"></use></svg></i></button>
					</li>
					<li>
						<button class="ui ui--unstyled"><i aria-hidden="true" class="icon icon--chat-bubble-dots"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/media/icons.svg#chat-bubble-dots"></use></svg></i></button>
					</li>
				</ul>
			</td>
		</tr>
		<tr>
			<th class="cell-checkbox" scope="row"><input type="checkbox" id="" name=""></th>
			<td>1293</td>
			<td>Ancient water source</td>
			<td>
				<ul class="list list--inline">
					<li>
						<button class="ui ui--unstyled"><i aria-hidden="true" class="icon icon--edit-pencil"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/media/icons.svg#edit-pencil"></use></svg></i></button>
					</li>
					<li>
						<button class="ui ui--unstyled"><i aria-hidden="true" class="icon icon--trash"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/media/icons.svg#trash"></use></svg></i></button>
					</li>
					<li>
						<button class="ui ui--unstyled"><i aria-hidden="true" class="icon icon--chat-bubble-dots"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/media/icons.svg#chat-bubble-dots"></use></svg></i></button>
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
*/

.cell-checkbox
{
	width						: 40px;
	text-align					: center;

	input[type='radio'],
	input[type='checkbox']
	{
		margin					: 0;

		+ label
		{
			.icon
			{
				margin			: 0;
			}

			.text
			{
				display			: none;
			}
		}
	}
}

/*---
???
@group			~Tmp
@desc			...
@todo			Document
@author			Michael Ord
@tags			todo
---
...
*/
@include device(lg)
{
	.tabular
	{
		display					: table;
		width					: 100%;

		&__item
		{
			display				: table-cell;
			padding				: 0 5px;
		}

		&--equal
		{
			table-layout		: fixed;
		}
	}
}

/*---
???
@group			~Tmp
@desc			...
@todo			Document
@author			Michael Ord
@tags			todo
---
...
*/
.togs
{
	> input
	{
		display					: none;

		~ .togs
		{
			&__head
			{

			}

			&__body
			{
				display			: none;
			}
		}

		&:checked
		{
			.ui--arrow
			{
				translate		: rotate(180deg);
			}

			~ .togs
			{
				&__head
				{
				}

				&__body
				{
					display		: block;
				}
			}
		}
	}

	&__head
	{
		position				: relative;
		padding					: .5rem;

		> label
		{
			position			: static;
			margin				: 0;
			padding				: 0;
			font-weight			: inherit;

			&:after
			{
				content			: "";
				position		: absolute;
				top				: 0;
				right			: 0;
				bottom			: 0;
				left			: 0;
			}
		}
	}

	&__body
	{
		padding					: .5rem;
	}
}

/*---
Navigation Columns
@group 			Navigation
@todo			Implement
@author			Michael Ord
@tags			navigation
@partial		nav/columns
*/
.nav
{
	&--columns
	{
		> ul
		{
			> li
			{
				> a
				{
					@include heading();
					@include h4();
				}
			}
		}

		@include device(md)
		{
			> ul
			{
				display				: table;
				table-layout		: fixed;
				width				: 100%;

				> li
				{
					display			: table-cell;
				}
			}
		}
	}
}

/*
.btn--test
{
	max-width					: 2.5rem;

	.text
	{
		visibility				: hidden;
	}
}
*/

.field-group
{
	display						: table;
	width						: 100%;

	> .field
	{
		display					: table-cell;
		vertical-align			: top;

		&:not(:first-child)
		{
			padding-left		: .25rem;
		}

		&:not(:last-child)
		{
			padding-right		: .25rem;
		}
	}

	> .field
	{
		.field__label
		{
			display				: none;
		}
	}

	.btn
	{
		white-space				: nowrap;
	}
}

.immy
{
	display						: flex;
	align-items					: center;
	padding						: .5rem 0;

	> *
	{
		> *:first-child
		{
			margin-top			: 0;
		}

		> *:last-child
		{
			margin-bottom		: 0;
		}

		&:first-child
		{
			flex-grow			: 1;
		}
	}
}

.list
{
	&--grid
	{
		@extend %list-unstyled;

		display					: flex;
		flex-wrap				: wrap;
	}
}

.tmp-dark
{
	background-color			: #2A2B30;
	color						: #fff;

	 h1,
	.h1,
	 h2,
	.h2,
	 h3,
	.h3,
	 h4,
	.h4,
	 h5,
	.h5,
	 h6,
	.h6
	{
		color					: inherit;
	}
}

.pull
{
	position					: relative;

	@include device(md)
	{
		float					: left;
		max-width				: 33.333%;
		margin-right			: 2rem;
		margin-bottom			: 2rem;

		&--alt
		{
			float				: right;
			margin-right		: 0;
			margin-left			: 2rem;
		}
	}
}

.pullquote
{
	color						: $clr-primary;
	font-size					: 140%;

	&:before
	{
		content					: "";
		display					: block;
		width					: 2rem;
		border-top				: 2px solid currentColor;
		margin-bottom			: 1rem;
	}
}

.screen
{
	min-height					: 100vh;
}

@import "partials/menu";

// http://codepen.io/tysonmatanich/pen/jIBpJ
.t
{
	@include eq-pts((small: 0, medium: 500, large: 1000));

	margin-bottom				: 1.5rem;
	position					: relative;

	h1
	{
		font-weight				: 400;
		margin					: 0 0 1rem 0;
		padding					: 0;
	}

	&__media
	{
		margin					: 0 0 1rem 0;
	}

	@include eq('small')
	{
		h1
		{
			font-size			: 1.2rem;
		}

		time
		{
			display				: none;
		}
	}

	@include eq('medium')
	{
		h1
		{
			font-size			: 1.6rem;
		}
	}

	@include eq('large')
	{
		h1
		{
			font-size			: 2rem;
		}
	}
}

@include eq-selectors;

.logo
{
	display						: inline-block;
	max-width					: 200px;
	width						: 100%;
}

.author
{
	img
	{
		border-radius			: 100%;
		border					: 2px solid $clr-primary;
	}
}

.debug
{
	[class*='\\']
	{
		outline					: 3px dotted orange;
	}
}

.theme-1
{
	background-color			: $clr-primary;
	color						: #fff;
}

.theme-2
{
	background-color			: #000;
	color						: #fff;
}

.avatar
{
    border-radius               : 50%;
    display                     : inline-block;
    width                       : 40px;
    height                      : 40px;
    font-weight                 : 300;
    position                    : relative;
    vertical-align              : middle;
    line-height                 : 1;
    font-size                   : 1.1rem;
    margin                      : 0;

    img
    {
        width                   : 100%;
        height                  : 100%;
        max-width               : none;
        border-radius           : 50%;
    }

    &__icon
    {
        max-width               : 48px;
        max-height              : 48px;
        width                   : 50%;
        height                  : 50%;
        padding                 : 5%;
        position                : absolute;
        right                   : -0.2em;
        bottom                  : -0.2em;
        background-color        : #fff;
    }

    &[data-initial]
    {
        background-color        : $clr-primary;

        &:after
        {
            content             : attr(data-initial);
            position            : absolute;
            top                 : 50%;
            left                : 50%;
            color               : #fff;
            transform           : translate(-50%, -50%);
        }
    }

    &--xs
    {
        width                   : 16px;
        height                  : 16px;
        font-size               : .6rem;
    }

    &--sm
    {
        width                   : 24px;
        height                  : 24px;
        font-size               : .8rem;
    }

    &--md
    {

    }

    &--lg
    {
        width                   : 48px;
        height                  : 48px;
        font-size               : 1.6rem;
    }

    &--xl
    {
        width                   : 64px;
        height                  : 64px;
        font-size               : 2.2rem;
    }
}

.avatar-group
{
    list-style                  : none;
    padding                     : 0;
    display                     : flex;
    flex-direction              : row-reverse;

    li
    {
        display                 : inline-block;
        margin-right            : -16px;
        position                : relative;
    }

    .avatar
    {
        border                  : 1px solid #fff;
        box-shadow              : 1px 0 0 rgba(0, 0, 0, .3);
    }
}

.insetter
{
	position					: relative;

	&__image
	{
		padding					: .5rem;
		background-color		: #fff;
		border					: 1px solid #ccc;
		position				: relative;
		left					: 20px;
		bottom					: 0;
		margin-top				: -60px;
		float					: left;
		margin-right			: 2rem;
	}
}

.select-list
{
	list-style					: none;
	margin						: 0 0 1rem 0;
	padding						: 0;
	max-height					: 9.8rem;
	overflow-y					: auto;
	border						: 1px solid #ccc;
	width						: 100%;
	background-color			: #fff;

	li
	{
		display					: block;
		cursor					: pointer;

		&.selected,
		&:hover
		{
			color				: #fff;
			background-color	: $clr-primary;
		}

		> *
		{
			display				: block;
			padding				: 10px;
		}

		+ li
		{
			border-top			: 1px solid #ccc;
		}
	}
}

.field__input
{
	.select-list
	{
		margin					: 0;
		position				: absolute;
		top						: 100%;
		z-index					: 10;
		display					: none;
		box-shadow				: 0 2px 4px rgba(0, 0, 0, .1);
		border-top				: none;
	}

	input,
	textarea
	{
		&:focus
		{
			~ .select-list
			{
				display			: block;
			}
		}
	}
}

input,
textarea
{
	background-position			: 150% 50% !important;
}

input
{
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button
	{
		-webkit-appearance		: none;
		margin					: 0;
	}

	&::-webkit-calendar-picker-indicator
	{
		-webkit-appearance		: none;
		display					: none;
	}

	&::-webkit-clear-button
	{
		-webkit-appearance		: none;
		display					: none;
	}
}

.field__showhide
{
	cursor						: pointer;

	.icon--view-show
	{
		display					: none;
	}
}

input[type="password"]
{
	~ .field__icons
	{
		.field__showhide
		{
			.icon--view-show
			{
				display			: inline-block;
			}

			.icon--view-hide
			{
				display			: none;
			}
		}
	}
}

.hide
{
	outline						: 4px solid #000;
	opacity						: .5;
}

.debug
{
	background-color			: $clr-primary;
	color						: #fff;
	padding						: 5px;
	border-radius				: 8px;
	margin						: 2px 0;
}

.section
{
	min-height					: 50vh;

	&.atheme-1
	{
		background				: #000;
	}

	&.atheme-2
	{
		background				: #ff00ff;
	}

	&.atheme-3
	{
		background				: #ccc;
	}

	&-test
	{
		position				: fixed;
		color					: #000;
		top						: 0;
		left					: 0;
		right					: 0;
		height					: 60px;
		line-height				: 60px;
		z-index					: 9000;
		transition				: all .5s;
		text-align				: center;
		background				: rgba(255, 255, 255, .8);

		&.atheme-1
		{
			color				: red;
			background			: rgba(0, 0, 0, 0);
		}

		&.atheme-2
		{
			color				: #fff;
			background			: rgba(0, 0, 0, 0);
		}

		&.atheme-3
		{
			color				: #000;
			background			: rgba(0, 0, 0, 0);
		}
	}
}












input.tgl
{
	+ label
	{
		display					: inline-block;
		width					: 4rem;
		height					: 2rem;
		padding					: 0;
		position				: relative;
		user-select				: none;
		font-weight				: normal;
		margin-top				: 5px;
		margin-bottom			: 5px;

		&:before,
		&:after
		{
			content				: "";
			display				: block;
			position			: relative;
			width				: 50%;
			height				: 100%;
		}

		&:before
		{
			display				: none;
		}

		&:after
		{
			left				: 0;
		}
	}

	&:checked
	{
		+ label
		{
			&:after
			{
				left			: 50%;
			}
		}
	}

	&--light
	{
		+ label
		{
			background			: #f0f0f0;
			border-radius		: 2rem;
			padding				: 2px;
			transition			: all .4s ease;

			&:after
			{
				border-radius	: 50%;
				background		: #fff;
				transition		: all .2s ease;
			}
		}

		&:checked
		{
			+ label
			{
				background		: #9fd6ae;
			}
		}
	}

	&--ios
	{
		+ label
		{
			background				: #fbfbfb;
			border-radius			: 2em;
			padding					: 2px;
			transition				: all .4s ease;
			border					: 1px solid #e8eae9;

			&:after
			{
				border-radius		: 2em;
				background			: #fbfbfb;
				transition			: left .3s cubic-bezier(0.175, 0.885, 0.320, 1.275), padding .3s ease, margin .3s ease;
				box-shadow			: 0 0 0 1px rgba(0,0,0,.1), 0 4px 0 rgba(0,0,0,.08);
			}

			&:hover:after
			{
				will-change			: padding;
			}

			&:active
			{
				box-shadow			: inset 0 0 0 2em #e8eae9;

				&:after
				{
					padding-right	: .8em;
				}
			}
		}

		&:checked
		{
			+ label
			{
    			background			: #86d993;

    			&:active
    			{
      				box-shadow		: none;

      				&:after
      				{
        				margin-left	: -.8em;
      				}
    			}
			}
		}
	}

	&--skew
	{
		+ label
		{
			overflow			: hidden;
			transform			: skew(-10deg);
			backface-visibility	: hidden;
			transition			: all .2s ease;
			font-family			: sans-serif;
			background			: #888;

			&:after,
		    &:before
		    {
				transform		: skew(10deg);
				display			: inline-block;
				transition		: all .2s ease;
				width			: 100%;
				text-align		: center;
				position		: absolute;
				line-height		: 2rem;
				font-weight		: bold;
				color			: #fff;
				text-shadow		: 0 1px 0 rgba(0,0,0,.4);
				text-transform	: uppercase;
			}

			&:after
			{
				left			: 100%;
				content			: attr(data-on);
			}

			&:before
			{
				left			: 0;
				content			: attr(data-off);
			}

			&:active
			{
				background		: #888;

				&:before
				{
					left		: -10%;
				}
			}
		}

		&:checked
		{
			+ label
			{
		    	background		: #86d993;

			    &:before
			    {
					left		: -100%;
			    }

			    &:after
			    {
					left		: 0;
			    }

			    &:active:after
			    {
					left		: 10%;
			    }
			}
		}
	}

	&--flat
	{
		+ label
		{
			padding				: 2px;
			transition			: all .2s ease;
			background			: #fff;
			border				: 4px solid #f2f2f2;
			border-radius		: 2rem;

			&:after
			{
				transition		: all .2s ease;
				background		: #f2f2f2;
				content			: "";
				border-radius	: 1rem;
			}
		}

		&:checked
		{
			+ label
			{
				border			: 4px solid #7FC6A6;

				&:after
				{
					left		: 50%;
					background	: #7FC6A6;
				}
			}
		}
	}


	&--flip
	{
		+ label
		{
			padding				: 2px;
			transition			: all .2s ease;
			font-family			: sans-serif;
			perspective			: 100px;

			&:after,
			&:before
			{
				display			: inline-block;
				transition		: all .4s ease;
				width			: 100%;
				text-align		: center;
				position		: absolute;
				line-height		: 2rem;
				font-weight		: bold;
				color			: #fff;
				position		: absolute;
				top				: 0;
				left			: 0;
				backface-visibility: hidden;
				border-radius	: 4px;
			}

			&:after
			{
				content			: attr(data-on);
				background		: #02C66F;
				transform		: rotateY(-180deg);
			}

			&:before
			{
				background		: #FF3A19;
				content			: attr(data-off);
			}

			&:active:before
			{
				transform		: rotateY(-20deg);
			}
		}

		&:checked
		{
			+ label
			{
				&:before
				{
					transform	: rotateY(180deg);
				}

				&:after
				{
					transform	: rotateY(0);
					left		: 0;
					background	: #7FC6A6;
				}

				&:active:after
				{
					transform	: rotateY(20deg);
				}
			}
		}
	}
}









