@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,400italic,300italic,100italic,700italic,500italic,900italic");

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ...
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@import "libs/scss/constants";
@import "variables";
@import "libs/scss/defaults";
@import "libs/scss/functions";
@import "libs/scss/mixins";
@import "libs/scss/placeholders";

.fw-tmp
{
	display						: flex;
	min-height					: 100vh;
	background					: darken($core-body-background-color, 1%);

	.fullheight &
	{
		max-height				: 100vh;
	}

	&__navigation
	{
		background				: $clr-primary;
		color					: #fff;
		box-shadow				: inset -5px 0 5px rgba(0, 0, 0, .05);
	}

	&__inner
	{
		padding					: 2rem;
		overflow-y				: auto;
		height					: 100%;
		width					: 300px;

		&::-webkit-scrollbar
		{
			width				: 10px;
		}

		&::-webkit-scrollbar-track
		{
			box-shadow			: inset 0 0 6px rgba(0, 0, 0, .3);
			border-radius		: 0;
		}

		&::-webkit-scrollbar-thumb
		{
			border-radius		: 0;
			background			: rgba(0, 0, 0, .3);
		}
	}

	&__main:not(iframe)
	{
		flex-grow				: 1;
		padding					: 2rem;
	}
}

.fw-template-blank
{
	background					: $core-body-background-color;
	padding						: 2rem;
}

// -----------------------------------------------------------------------------
// ...
// -----------------------------------------------------------------------------

.fw-description
{
	code
	{
		background				: rgba(0, 0, 0, .05);
	}
}

.fw-title
{
	font-family					: $fw-font-family;
	font-weight					: 900;
	border						: 0;
	text-transform				: none;
	text-align					: left;
	letter-spacing				: normal;

	.label
	{
		font-size				: 13px;
		vertical-align			: middle;
		float					: right;
		font-style				: normal;
		font-weight				: normal;
	}
}

.fw-copy
{
	font-family					: $fw-font-family;
	letter-spacing				: normal;
}

h1.fw-title,
.fw-title.h1
{
	@include fluid-type(24px, 42px);

	line-height				: 1.125;
	position				: relative;
	padding-bottom			: 18px;
	font-weight				: 900;
}

h2.fw-title,
.fw-title.h2
{
	@include fluid-type(24px, 42px);

	line-height				: 1.16667;
	font-size				: 20px;
	font-weight				: 900;
}

h3.fw-title,
.fw-title.h3
{
	font-size				: 20px;
	line-height				: 1.2;
	font-weight				: 500;
}

h4.fw-title,
.fw-title.h4
{
	font-size				: 18px;
	line-height				: 1.22222;
	font-weight				: 300;
}

h5.fw-title,
.fw-title.h5
{
	font-size				: 16px;
	line-height				: 1.25;
}

h6.fw-title,
.fw-title.h6
{
	font-size				: 1rem;
	line-height				: 1.25;
}

.fw-card
{
	margin						: 0 0 2rem 0;
	color						: #000;
	box-shadow					: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
	background					: $core-body-background-color;
	border-radius				: 4px;

	&:not(.default)
	{
		> div:last-child
		{
			margin-bottom			: 0;
		}
	}

	> p,
	> ul,
	> table
	{
		&:first-child
		{
			margin-top			: 0;
			padding-top			: 0;
		}

		&:last-child
		{
			margin-bottom		: 0;
			padding-bottom		: 0;
		}
	}

	&__container
	{
	}

	&__preview
	{

	}

	&__details
	{
		padding					: 1rem;
		margin					: 0;
	}

	&--headings
	{
		h1,
		h2,
		h3,
		h4,
		h5,
		h6
		{
			margin				: 0;
		}

		table tbody tr:first-child
		{
			td,
			th
			{
				border-top		: 0;
			}
		}
	}

	&--example
	{
		padding					: 1rem;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6
		{
			&:only-child
			{
			}
		}
	}
}

.fw-details
{
	> dt:first-of-type
	{
		+ dd
		{
			margin-top			: 1rem;
		}
	}

	dt, dd
	{
		margin					: 0;
	}

	&:last-child
	{
		margin-bottom			: 0;
	}

	dt:not(:first-child)
	{
		font-weight				: 400;
	}

	&--inline
	{
		dt ~ *
		{
			display				: inline-block;
		}

		dt ~
		{
			dt
			{
				&:after
				{
					content		: ":";
				}
			}
		}

		dd
		{
			display				: inline;

			&:after
			{
				content			: '';
				display			: block;
			}
		}
	}
}

.fw-preview
{
	min-height					: 7rem;
	padding						: 20px 15px;

	&--font
	{
		background				: $core-body-background-color;

		> *
		{
			&:first-child
			{
				font-size		: 90px;
				line-height		: 1;
			}

			&:last-child
			{
				line-height		: 1.5;
				font-size		: 18px;
				word-break		: break-all;
			}
		}

		@include device(md)
		{
			display				: table;
			table-layout		: fixed;
			width				: 100%;

			> *
			{
				display			: table-cell;
				vertical-align	: top;

				&:last-child
				{
					width		: 320px;
				}
			}
		}
	}

	&--colour
	{

	}

	&--icon
	{
		background				: $core-body-background-color;
		text-align				: center;

		.icon
		{
			width				: 100px;
			height				: 100px;
			max-width			: none;
			margin-bottom		: 1rem;
		}
	}
}

.fw-page
{
	margin						: 0 0 $gutter 0;
	position					: relative;
	box-shadow					: 0px 2px 6px #bbb;
	transition					: all .4s;

	p
	{
		//display					: none;
	}

	&__container
	{

	}

	&__preview,
	&__body
	{
		padding					: 1rem;
	}

	&__title
	{
		position				: initial;
		margin					: 0;
		padding					: 0;
		font-size				: 20px;
		font-weight				: 400;
		font-style				: normal;
		color					: #000;

		a
		{
			position			: initial;

			&:after
			{
				content			: "";
				position		: absolute;
				top				: 0;
				right			: 0;
				bottom			: 0;
				left			: 0;
				z-index			: 10;
			}
		}
	}

	// ---------------------
	p
	{
		display					: none;
	}
	// ---------------------

	&__preview
	{
		background				: $clr-primary;
		text-align				: center;
		position				: relative;

		// TODO ----------------
		display					: none;
		// TODO ----------------

		img
		{
			max-width			: 130px;
			margin				: 2rem auto;
		}

		&:after
		{
			content				: "";
			position			: absolute;
			bottom				: 0;
			left				: 0;
			width				: 100%;
			height				: 20px;
			background			: linear-gradient(to bottom, rgba($clr-primary, 0) 0%, rgba($clr-primary, 1) 100%);
		}

		.icon
		{
			width				: 130px;
			height				: 130px;
		}
	}

	&__body
	{
		background-color		: #fff;

		> *:last-child
		{
			margin-bottom		: 0;
		}
	}

	&--template
	{
		.fw-page__preview
		{
			height				: 220px;
			background			: $clr-primary;
			overflow			: hidden;

			&:after
			{
				background		: linear-gradient(to bottom, rgba($clr-primary, 0) 0%, rgba($clr-primary, 1) 100%);
			}

			img + img
			{
				margin-top		: 10px;
			}
		}
	}
}

.doc-item
{
	margin-bottom				: 3rem;
}

.nav--tmp-spaced
{
	.nav
	{
		&__level-1
		{
			> li
			{
				margin-bottom		: 1.5rem;
			}
		}
	}
}

.nav--tmp
{
	.nav
	{
		&__item
		{
			> a
			{
				padding				: .5rem 1rem;
				margin-left			: -1rem;
				margin-right		: -1rem;
				color				: #fff;
				border-radius		: .3rem;
				margin-bottom		: .2rem;
				transition			: all .5s;

				&:hover
				{
					background		: rgba(0, 0, 0, .05);
				}
			}

			&.active
			{
				> a
				{
					background		: rgba(0, 0, 0, .05);
				}
			}
		}

		&__level-1
		{
			> li
			{
				> a
				{
					text-transform	: uppercase;
					font-weight		: bold;
				}
			}
		}

		&__level-2
		{
			> li
			{
				> a
				{
					color			: #E5EFFA;
				}
			}
		}
	}
}

.fw-logo
{
	display						: block;
	color						: #fff;
	margin						: 0 0 1.5rem 0;
	font-size					: 90%;

	padding						: 1rem;
	margin						: -1rem -1rem 1rem -1rem;

	svg
	{
		max-width				: 120px;
	}

	&:hover,
	&:focus
	{
		color					: #fff;
		text-decoration			: none;
		background-color		: rgba(0, 0, 0, .1);
	}

	path
	{
		fill					: #fff;
	}
}

pre.prettyprint, pre > code {
  margin: 1em 0;
  background-color: #f5f5f5;
  border-radius: 3px;
  white-space:pre;
}

pre.prettyprint > code {
  margin: 0;
}

.import-path pre.prettyprint,
.import-path pre.prettyprint code {
  margin: 0;
  padding: 0;
  border: none;
  background: white;
}

.kind-class,
.kind-interface,
.kind-function,
.kind-typedef,
.kind-variable,
.kind-external {

	border-radius		: 50%;

  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  text-align: center;
  margin-right: 0.2em;
  font-weight: bold;
}

.kind-class {
  color: #009800;
  background-color: #bfe5bf;
}

.kind-interface {
  color: #fbca04;
  background-color: #fef2c0;
}

.kind-function {
  color: #6b0090;
  background-color: #d6bdde;
}

.kind-variable {
  color: #eb6420;
  background-color: #fad8c7;
}

.kind-typedef {
  color: #db001e;
  background-color: #edbec3;
}

.kind-external {
  color: #0738c3;
  background-color: #bbcbea;
}

.header-notice {
  color: #aaa;
  margin: 0;
}

.expression-extends .prettyprint {
  margin-left: 10px;
  background: white;
}

.extends-chain {
  border-bottom: 1px solid#ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.extends-chain span:nth-of-type(1) {
  padding-left: 10px;
}

.extends-chain > div {
  margin: 5px 0;
}

.flat-list ul {
  padding-left: 0;
}

.flat-list li {
  display: inline;
  list-style: none;
}

.inherited-summary .summary tbody {
  display: none;
}

.inherited-summary .summary .toggle {
  cursor: pointer;
}
.inherited-summary .summary .toggle.closed:before {
  content: "▶";
}
.inherited-summary .summary .toggle.opened:before {
  content: "▼";
}

.member, .method {
  margin-bottom: 24px;
}

.detail > * {
  margin: 15px 0;
}

.detail h3
{
	position:relative;
}

.detail > div {
  margin-left: 10px;
}

.detail > .import-path {
  margin-top: -8px;
}

.detail + .detail {
  margin-top: 30px;
}

.detail h4 + ul li {
  list-style: none;
}

.return-param * {
  display: inline;
}

.argument-params {
  margin-bottom: 20px;
}

.return-type {
  padding-right: 10px;
}

.return-desc p {
  margin: 0;
}

.deprecated, .experimental, .instance-docs {
  border-left: solid 5px orange;
  padding-left: 4px;
  margin: 4px 0;
}

tr.listen p,
tr.throw p,
tr.emit p{
  margin-bottom: 10px;
}

.version, .since {
  color: #aaa;
}

h3 .right-info {
  position: absolute;
  right: 4px;
}

.version + .since:before {
  content: '| ';
}

.see {
  margin-top: 10px;
}

.detail h4 + .example-doc {
  margin: 6px 0;
}

.example-caption {
  position: relative;
  bottom: -1px;
  display: inline-block;
  padding: 4px;
  font-style: italic;
  background-color: #f5f5f5;
  font-weight: bold;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.example-caption + pre.source-code {
  margin-top: 0;
  border-top-left-radius: 0;
}

.file-footer {
  text-align: right;
  font-style: italic;
  font-weight: 100;
  margin-right: 50px;
  margin-left: 270px;
  border-top: 1px solid #ddd;
  padding-top: 30px;
  margin-top: 20px;
  padding-bottom: 10px;
}

pre.source-code {
  background: #f5f5f5;
  padding: 4px;
}

pre.raw-source-code > code {
  padding: 0;
  margin: 0;
}

pre.source-code.line-number {
  padding: 0;
}

pre.source-code ol {
  background: #eee;
  padding-left: 40px;
}

pre.source-code li {
  background: white;
  padding-left: 4px;
  list-style: decimal;
  margin: 0;
}

pre.source-code.line-number li.active {
  background: rgb(255, 255, 150);
}

pre.source-code.line-number li.error-line {
  background: #ffb8bf;
}

table.files-summary {
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
  text-align: right;
}

table.files-summary tbody tr:hover {
  background: #eee;
}

table.files-summary td:first-child,
table.files-summary td:nth-of-type(2) {
  text-align: left;
}

table.files-summary[data-use-coverage="false"] td.coverage {
  display: none;
}

table.files-summary td.identifiers > span {
  display: block;
  margin-top: 4px;
}
table.files-summary td.identifiers > span:first-child {
  margin-top: 0;
}

table.files-summary .coverage-count {
  color: #aaa;
  display: inline-block;
  min-width: 40px;
}

.total-coverage-count {
  position: relative;
  bottom: 2px;
  color: #666;
  font-weight: 500;
  padding-left: 5px;
}

table.test-summary thead .test-description {
  width: 50%;
}

table.test-summary thead .test-count {
  width: 3em;
}

table.test-summary tbody tr:hover {
  background-color: #eee;
}

table.test-summary tr.test-describe .toggle {
  display: inline-block;
  float: left;
  margin-right: 4px;
  cursor: pointer;
}

table.test-summary tr.test-describe .toggle.opened:before {
  content: '▼';
}

table.test-summary tr.test-describe .toggle.closed:before {
  content: '▶';
}

table.test-summary .test-target > span {
  display: block;
  margin-top: 4px;
}
table.test-summary .test-target > span:first-child {
  margin-top: 0;
}

.inner-link-active {
  background: rgb(255, 255, 150);
}

/* search box */
.search-box {
  position: absolute;
  top: 10px;
  right: 50px;
  padding-right: 8px;
  padding-bottom: 10px;
  line-height: normal;
  //font-size: 12px;
}

.search-box img {
  width: 20px;
  vertical-align: top;
}

.search-input {
  display: inline;
  visibility: hidden;
  width: 0;
  padding: 2px;
  height: 1.5em;
  outline: none;
  background: transparent;
  border: 1px #0af;
  border-style: none none solid none;
  vertical-align: bottom;
}

.search-input-edge {
  display: none;
  width: 1px;
  height: 5px;
  background-color: #0af;
  vertical-align: bottom;
}

.search-result {
  position: absolute;
  display: none;
  height: 600px;
  width: 100%;
  padding: 0;
  margin-top: 5px;
  margin-left: 24px;
  background: white;
  box-shadow: 1px 1px 4px rgb(0,0,0);
  white-space: nowrap;
  overflow-y: scroll;
}

.search-result-import-path {
  color: #aaa;
  //font-size: 12px;
}

.search-result li {
  list-style: none;
  //padding: 2px 4px;
}

.search-result li a {
  display: block;
}

.search-result li.selected {
  background: #ddd;
}

.search-result li.search-separator {
  background: rgb(37, 138, 175);
  color: white;
}

.search-box.active .search-input {
  visibility: visible;
  transition: width 0.2s ease-out;
  width: 300px;
}

.search-box.active .search-input-edge {
  display: inline-block;
}

/* coverage badge */
.esdoc-coverage {
  display: inline-block;
  height: 20px;
  vertical-align: top;
}

h1 .esdoc-coverage {
  position: relative;
  top: -4px;
}

.esdoc-coverage-wrap {
  color: white;
  //font-size: 12px;
  font-weight: 500;
}

.esdoc-coverage-label {
  padding: 3px 4px 3px 6px;
  background: linear-gradient(to bottom, #5e5e5e 0%,#4c4c4c 100%);
  border-radius: 4px 0 0 4px;
  display: inline-block;
  height: 20px;
  box-sizing: border-box;
  line-height: 14px;
}

.esdoc-coverage-ratio {
  padding: 3px 6px 3px 4px;
  border-radius: 0 4px 4px 0;
  display: inline-block;
  height: 20px;
  box-sizing: border-box;
  line-height: 14px;
}

.esdoc-coverage-low {
  background: linear-gradient(to bottom, #db654f 0%,#c9533d 100%);
}

.esdoc-coverage-middle {
  background: linear-gradient(to bottom, #dab226 0%,#c9a179 100%);
}

.esdoc-coverage-high {
  background: linear-gradient(to bottom, #4fc921 0%,#3eb810 100%);
}

.github-markdown .manual-toc {
  padding-left: 0;
}

/** manual */

.manual-root .navigation {
  padding-left: 0;
}

.navigation .manual-toc-title {
  margin: 0;
  padding: 0.5em 0 0.5em 1em;
  border: none;
  //font-size: 1em;
  font-weight: normal;
}

.navigation .manual-toc-title:first-child {
  margin-top: 0;
}

.navigation .manual-toc {
  display: none;
  margin-left: 0.5em;
  margin-top: -0.25em;
}

.github-markdown .manual-toc-title a {
  color: inherit;
}

.manual-breadcrumb-list {
  //font-size: 0.8em;
  margin-bottom: 1em;
}

.manual-toc-title a:hover {
  color: #039BE5;
}

.manual-toc li {
  margin: 0.75em 0;
  list-style-type: none;
}

.manual-toc .indent-h1 {
  margin-left: 0;
}
.manual-toc .indent-h2 {
  margin-left: 1em;
}
.manual-toc .indent-h3 {
  margin-left: 3em;
}
.manual-toc .indent-h4 {
  margin-left: 4em;
}
.manual-toc .indent-h5 {
  margin-left: 5em;
}

.manual-nav li {
  margin: 0.75em 0;
}

.manual-dot {
  margin-left: 0.75em;
  width: 0.6em;
  height: 0.6em;
  display: inline-block;
  border-radius: 0.3em;
  margin-right: 0.3em;
  background-color: #bfe5bf;
}

/* github markdown */
.github-markdown {
  //font-size: 16px;
}

.github-markdown h1,
.github-markdown h2,
.github-markdown h3,
.github-markdown h4,
.github-markdown h5 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  padding: 0;
}

.github-markdown h1:nth-of-type(1) {
  margin-top: 0;
}

.github-markdown h1 {
  //font-size: 2em;
  padding-bottom: 0.3em;
}

.github-markdown h2 {
  //font-size: 1.75em;
  padding-bottom: 0.3em;
}

.github-markdown h3 {
  //font-size: 1.5em;
  background-color: transparent;
}

.github-markdown h4 {
  //font-size: 1.25em;
}

.github-markdown h5 {
  //font-size: 1em;
}

.github-markdown ul, .github-markdown ol {
  padding-left: 2em;
}

.github-markdown pre > code {
  //font-size: 0.85em;
}

.github-markdown table {
  margin-bottom: 1em;
  border-collapse: collapse;
  border-spacing: 0;
}

.github-markdown table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.github-markdown table th,
.github-markdown table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.github-markdown table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

/** badge(.svg) does not have border */
.github-markdown img:not([src*=".svg"]) {
  max-width: 100%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

/* Tomorrow Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */
.pln {
  color: #4d4d4c; }

@media screen {
  /* string content */
  .str {
	color: #718c00; }

  /* a keyword */
  .kwd {
	color: #8959a8; }

  /* a comment */
  .com {
	color: #8e908c; }

  /* a type name */
  .typ {
	color: #4271ae; }

  /* a literal value */
  .lit {
	color: #f5871f; }

  /* punctuation */
  .pun {
	color: #4d4d4c; }

  /* lisp open bracket */
  .opn {
	color: #4d4d4c; }

  /* lisp close bracket */
  .clo {
	color: #4d4d4c; }

  /* a markup tag name */
  .tag {
	color: #c82829; }

  /* a markup attribute name */
  .atn {
	color: #f5871f; }

  /* a markup attribute value */
  .atv {
	color: #3e999f; }

  /* a declaration */
  .dec {
	color: #f5871f; }

  /* a variable name */
  .var {
	color: #c82829; }

  /* a function name */
  .fun {
	color: #4271ae; } }
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
	color: #060; }

  .kwd {
	color: #006;
	font-weight: bold; }

  .com {
	color: #600;
	font-style: italic; }

  .typ {
	color: #404;
	font-weight: bold; }

  .lit {
	color: #044; }

  .pun, .opn, .clo {
	color: #440; }

  .tag {
	color: #006;
	font-weight: bold; }

  .atn {
	color: #404; }

  .atv {
	color: #060; } }
/* Style */
/*
pre.prettyprint {
  background: white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px; }
*/

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0; }

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */ }

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */ }

