{{#formSuccess "contact-form" true}}
	<div id="contact-form" data-action='{"actions":["alert#success"]}'></div>
	<div id="success" class="alert alert--sticky" data-alert='{"time":8000}'>
		<span class="alert__bar"><span></span></span>
		<div class="container container--md alert__container">
			<button class="ui ui--close" data-close>
				{{icon 'close'}}
			</button>
			<div class="content alert__content">
				<!-- media -->
				<div class="media media--top">
					<div class="media__figure">
						<img src="http://placehold.it/60" alt="">
					</div>
					<div class="media__body">
						<p>We have sent you an email with details on how to reset your password.</p>
					</div>
				</div>
				<!-- /media -->
			</div>
		</div>
	</div>
{{/formSuccess}}

{{#formSuccess "contact-form" false}}
<form id="contact-form" action="/templates/contact.html#contact-form" data-validate='' method="post" novalidate>

	<h1>Contact us</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem consequuntur facere possimus voluptatum harum placeat molestias maiores, mollitia consequatur, facilis, rem explicabo eveniet dignissimos. Deleniti rerum ipsum incidunt quasi doloremque.</p>

	{{> form/hidden name="form" value= "contact-form"}}

	{{> form/text
		label				= "Name"
		name				= "name"
		required			= true
	}}

	{{> form/email
		label				= "Email"
		name				= "email"
		required			= true
	}}

	{{> form/textarea
		label				= "Message"
		name				= "message"
		required			= true
	}}

	{{> form/button
		label				= "Send Message"
		icon				= "send"
	}}

</form>
{{/formSuccess}}
