
<form id="discount-form" action="/templates/account/discount-code.html#discount-form" data-ajax='' method="post" novalidate>
	<div class="card">

		{{> form/hidden name="form" value= "discount-form"}}

		<p>Discount codes are exclusive to customers. Please enter below:</p>

		{{> form/text
			label				= "Discount code"
			name				= "discount"
			required			= true
		}}

		{{#formSuccess "discount-form" true}}
			<div id="discount-form">
				<div data-update='{"target":"#discount-holder", "mode" : "append"}' aria-hidden="true">
					<li>
						Voucher {{formValue "discount"}}
					</li>
				</div>
			</div>
		{{/formSuccess}}

		{{> form/button
			label				= "Save"
		}}
	</div>
</form>
