{{#formSuccess "login-form" true}}
	<div id="login-form" data-action='{"actions":[{"page-refresh":{"url":"/templates/account/#loggedin"}}]}'></div>
{{/formSuccess}}

{{#formSuccess "login-form" false}}
<form id="login-form" action="/templates/account/login.html#login-form" data-ajax='' method="post" novalidate>
	<div class="card">

		{{> form/hidden name="form" value= "login-form"}}

		{{> form/email
			label				= "Email address"
			name				= "email"
			required			= true
		}}

		{{> form/password
			label				= "Password"
			name				= "pwc"
			required			= true
		}}

		{{#formPosted "login-form"}}
			<div data-update='{"target":"#foo"}' aria-hidden="true">Logged in</div>
			<div data-update='{"target":"#navuser", "highlight":false}' aria-hidden="true">
				<a href="/templates/account/">
					{{icon 'user'}}
					<span>{{username}}</span>
				</a>
			</div>
		{{/formPosted}}

		<a href="/templates/account/forgot-password.html" class="btn btn--wide" data-overlay-trigger=''>I forgot my password</a>

		{{> form/button
			label				= "Login"
		}}

		<a href="/templates/account/register.html" class="btn btn--wide btn--secondary" data-overlay-trigger=''>Register as new user</a>
	</div>
</form>
{{/formSuccess}}
