{{#formSuccess "newsletter" true}}
	<div id="newsletter" data-action='{"actions":["alert#success"]}'>
		<h4>Newsletter</h4>
		<p>Thank you for subscribing</p>
	</div>
{{/formSuccess}}

{{#formSuccess "newsletter" false}}
<form id="newsletter" action="/templates/account/newsletter.html#newsletter" data-ajax='' method="post" novalidate>

	{{#if this.intro}}
	<h4>Newsletter</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, impedit, cupiditate eveniet, modi recusandae sit beatae.</p>
	{{/if}}

	{{> form/hidden name="form" value= "newsletter"}}

	<div class="field-group">

		{{> form/email
			label				= "Email address"
			name				= "email"
			required			= true
			hideerrors			= true
		}}

		{{> form/button
			label				= "Subscribe"
			icon				= "send"
			btn-modifiers		= "wide,icon-only"
		}}

	</div>
</form>
{{/formSuccess}}
