
<form id="change-form" action="/templates/account/change-password.html#change-form" data-ajax='' method="post" novalidate>
	<div class="card">
		{{> form/hidden name="form" value= "change-form"}}

		{{> form/password
			label				= "Current Password"
			name				= "pwc"
			id					= "current-password"
			required			= true
		}}

		{{> form/password
			label				= "Password"
			name				= "pw"
			required			= true
			helper				= true
			id					= "reset-password"
			notequal			= "#current-password"
		}}

		{{> form/password
			label				= "Confirm Password"
			name				= "pwcr"
			required			= true
			equal				= "#reset-password"
		}}

		{{> form/button
			label				= "Change Password"
		}}

		{{#formSuccess "change-form" true}}
			<div id="change-form" data-action='{"actions":["alert#password-change"]}'></div>
			<div id="password-change" class="alert alert--sticky" data-alert=''>
				<span class="alert__bar"><span></span></span>
				<div class="container container--md alert__container">
					<button class="ui ui--close" data-close>
						{{icon 'close'}}
					</button>
					<div class="content alert__content">
						<!-- media -->
						<div class="media media--top">
							<div class="media__figure">
								<img src="http://placehold.it/60" alt="">
							</div>
							<div class="media__body">
								<p>Your password has been changed, please <a href="/templates/account/login.html">login</a></p>
							</div>
						</div>
						<!-- /media -->
					</div>
				</div>
			</div>
		{{/formSuccess}}

		{{#formPosted "change-form"}}
		<div class="alert alert--sticky" data-alert='{"delay": 10}'>
			<span class="alert__bar"><span></span></span>
			<div class="container container--md alert__container">
				<button class="ui ui--close" data-close>
					{{icon 'close'}}
				</button>
				<div class="content alert__content">
					<!-- media -->
					<div class="media media--top">
						<div class="media__figure">
							<img src="http://placehold.it/60" alt="">
						</div>
						<div class="media__body">
							<h3>You new passwords cannot be the same as your current password</h3>
						</div>
					</div>
					<!-- /media -->
				</div>
			</div>
		</div>
		{{/formPosted}}

	</div>
</form>

