{{#formSuccess "forgot-form" true}}
	<div id="forgot-form" data-action='{"actions":["alert#success"]}'></div>
	<div id="success" class="alert alert--sticky" data-alert='{"time":8000}'>
		<span class="alert__bar"><span></span></span>
		<div class="container container--md alert__container">
			<button class="ui ui--close" data-close>
				{{icon 'close'}}
			</button>
			<div class="content alert__content">
				<!-- media -->
				<div class="media media--top">
					<div class="media__figure">
						<img src="http://placehold.it/60" alt="">
					</div>
					<div class="media__body">
						<p>We have sent you an email with details on how to reset your password.</p>
					</div>
				</div>
				<!-- /media -->
			</div>
		</div>
	</div>
{{/formSuccess}}

{{#formSuccess "forgot-form" false}}
<form id="forgot-form" action="/templates/account/forgot-password.html#forgot-form" data-ajax='' method="post" novalidate>
	<div class="card">

		{{> form/hidden name="form" value= "forgot-form"}}

		{{> form/email
			label			= "Email address"
			name			= "email"
			required		= true
		}}

		{{> form/button
			label				= "Send reset email"
		}}

		<a class="btn btn--wide" href="#" data-overlay-trigger='{"close": true}'>Cancel</a>
	</div>
</form>
{{/formSuccess}}
