{{#formSuccess "set-form" true}}
	<div id="set-form" data-action='{"actions":["alert#password-set"]}'></div>
	<div id="password-set" class="alert alert--sticky" data-alert=''>
		<span class="alert__bar"><span></span></span>
		<div class="container container--md alert__container">
			<button class="ui ui--close" data-close>
				{{icon 'close'}}
			</button>
			<div class="content alert__content">
				<!-- media -->
				<div class="media media--top">
					<div class="media__figure">
						<img src="http://placehold.it/60" alt="">
					</div>
					<div class="media__body">
						<h3>Your password has been successfully changed</h3>
						<p>If you have more than one account, this password is now the same for all your accounts. <a href="/templates/account/login.html">login</a></p>
					</div>
				</div>
				<!-- /media -->
			</div>
		</div>
	</div>
{{/formSuccess}}

{{#formSuccess "set-form" false}}
<form id="set-form" action="/templates/account/set-password.html#set-form" data-ajax='' method="post" novalidate>
	<div class="card">

		{{> form/hidden name="form" value= "set-form"}}

		{{> form/password
			label				= "Password"
			name				= "pw"
			required			= true
			helper				= true
			id					= "set-password"
		}}

		{{> form/password
			label				= "Confirm Password"
			name				= "pwc"
			required			= true
			equal				= "#set-password"
		}}

		{{> form/button
			label				= "Set Password"
		}}

	</div>
</form>
{{/formSuccess}}
