<form id="form" action="/templates/account/register.html#form" data-validate='' method="post" novalidate>
	<div class="card">
		<div class="step" data-multistep="">
			{{> form/select
				label			= "Title"
				name			= "nc"
				required		= true
			}}

			{{> form/text
				label			= "First name"
				name			= "fn"
				required		= true
			}}

			{{> form/text
				label			= "Surname"
				name			= "sn"
				required		= true
			}}

			{{> form/date
				label			= "Date of Birth"
				name			= "dob"
				required		= true
			}}
		</div>

		<div class="step" data-multistep="">
			{{> form/tel
				label			= "Phone number"
				name			= "tel"
				required		= true
			}}

			{{> form/email
				label			= "Email address"
				name			= "email"
				required		= true
			}}

			{{> form/checkbox
				label			= "We'd like to match your interests with [site name]'s special offers, promotions and products. If you do not want to receive these offers, please tick here."
				name			= "rc"
			}}

			{{> form/checkbox
				label			= "Ticking this box tells us that you would like to receive offers from carefully selected third parties."
				name			= "rc"
			}}
		</div>
		<div class="step" data-multistep="">
			{{> form/password
				label			= "Password"
				required		= true
				id				= "password"
			}}
			{{> form/password
				label			= "Confirm Password"
				required		= true
				equal			= "#password"
			}}

		</div>
		<div class="step" data-multistep="">
			{{> form/button
				label			= "Register"
				btn-modifiers	= "wide"
			}}
		</div>
	</div>
</form>
