
<div class="stat-bar">
	<span class="stat-bar__label">
		{{fallback title "Example Title"}}
		{{fallback percent 50}}
	</span>
	<div class="stat-bar__bar" style="width:{{fallback percent 50}}%"></div>
</div>
