
<div class="review" itemprop="review" itemscope itemtype="http://schema.org/Review">
	<span itemprop="name">Not a happy camper</span> -
	by <span itemprop="author">{{samplename}}</span>,
	<meta itemprop="datePublished" content="2011-04-01">April 1, {{year}}
	<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
		<meta itemprop="worstRating" content="1">
		{{> rating/rating}}stars
	</div>
	<div itemprop="description">
		{{lorem 'p'}}
	</div>
	<div class="review__meta">
		<div>
			Was this helpful
			<ul class="list list--inline">
				<li><a href="#" class="btn">{{icon 'thumbs-up'}} Yes</a></li>
				<li><a href="#" class="btn">{{icon 'thumbs-down'}} No</a></li>
			</ul>
		</div>
		<ul class="list list--inline">
			<li><a href="#">{{icon 'conversation' 'sm'}} Comment</a></li>
			<li><a href="#">{{icon 'share' 'sm'}} Share</a></li>
			<li><a href="#">{{icon 'hand-stop' 'sm'}} Report</a></li>
		</ul>
	</div>
</div>
