{{!--
	"title"						: "Address Book",
	"desc"						: "...",
	"master"					: "master",
	"hide-template"				: true
--}}

<div class="container container--md container--padded">
	<div id="content" data-overlay='{"title": "{{title}}"}'>
		<div class="card" data-toggle='{"group":"c"}'>
			<h2 class="h4 card__title">
				<span class="media">
					<span class="media__figure">
						{{icon 'close'}}
					</span>
					<span class="media__body">
						Address book (3)
					</span>
				</span>
			</h2>
			<div class="card__body">
			{{#times 3}}
				<div class="toggle" data-toggle='{"group":"d"}'>
					12 Saint Ave
					<div class="toggle__body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto numquam odio cumque, voluptatum molestias ut alias? Repudiandae hic, nesciunt sit, eius ipsam sed, quo aut optio iste harum, ea corrupti!</p>
					</div>
				</div>
			{{/times}}
			</div>
		</div>
		<div class="card card--stacked" data-toggle='{"group":"c"}'>
			<h2 class="h4 card__title">
				<span class="media">
					<span class="media__figure">
						{{icon 'close'}}
					</span>
					<span class="media__body">
						Add new address
					</span>
				</span>
			</h2>
			<div class="card__body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae placeat laboriosam neque eos maiores voluptates doloribus quia quaerat magnam quos officia possimus sed sunt qui dolores deleniti corporis unde, aliquid!</p>
			</div>
		</div>
	</div>
</div>
