{{!--
	"title"						: "Change Password",
	"desc"						: "...",
	"master"					: "master",
	"hide-template"				: true
--}}

<div class="container container--md container--padded">
	<div id="content" data-overlay='{"title": "{{title}}", "dismissible": false}'>
		{{> account/password-reset }}
	</div>
</div>
