{{!--
	"title"						: "Discount Code",
	"desc"						: "...",
	"master"					: "master",
	"hide-template"				: true
--}}

<div class="container container--md container--padded">
	<h3 id="foo" style="padding:1rem;">Status</h3>
	<div id="content" data-overlay='{"title": "{{title}}"}'>
		{{> account/discount-code }}
	</div>
</div>
