{{!--
	"title"						: "Forgot Password",
	"desc"						: "...",
	"master"					: "master",
	"hide-template"				: true
--}}

<div class="container container--md container--padded">
	<div id="content" data-overlay='{"title": "{{title}}"}'>
		{{> account/password-forgot }}
	</div>
</div>
