{{!--
	"title"						: "Account",
	"desc"						: "...",
	"master"					: "master",
	"hide-template"				: true
--}}

<div class="container container--md container--padded">
	<h1>{{title}}</h1>

	<a href="#" class="btn btn--wide btn--positive">Checkout now</a>

	<div class="card">
		<h2>Your recent orders</h2>
		<a href="#">View all recent orders (2)</a>
	</div>

	<div class="card">
		<h2>Personal details</h2>
		<dl>
			<dt>Mr Dave Hedgehog</dt>
			<dd>dave.hedgehog@gmail.com</dd>
			<dd>0123 456 789</dd>
		</dl>
		<a href="personal-details.html#content" data-overlay-trigger=''>Edit my Details</a>
	</div>

	<div class="card">
		<h2>Add Discount</h2>
		<a href="discount-code.html#content" data-overlay-trigger=''>Add discount code</a>
		<ul id="discount-holder"></ul>
	</div>

	<div class="card">
		<h2>Address book</h2>
		<a href="address-book.html#content" data-overlay-trigger=''>Change my address</a>
	</div>

	<div class="card">
		<h2>Contact preferences</h2>
		<a href="contact-preferences.html#content" data-overlay-trigger=''>Change my contact preferences</a>
	</div>

	<div class="card">
		<h2>Password</h2>
		<p>Your password hsn't been changed in 5 months</p>
		<p>We recommend to update it every 3 months to increase your account security</p>
		<a href="change-password.html#content" data-overlay-trigger=''>Change my password</a>
	</div>

	<div class="card">
		<h2>My preferred payment</h2>
		<p>By choosing a preferred payment method, you will be able to purchase items in one tap.</p>
		[todo]
	</div>

	<div class="card">
		<h2>My Direct Debit</h2>
		<a href="#">Amend Direct Debit</a>
	</div>

	<div class="card">
		<h2>My Wallet</h2>
		<a href="wallet.html#content" data-overlay-trigger=''>Wallet</a>
	</div>

</div>
