{{!--
	"title"						: "Newsletter",
	"desc"						: "...",
	"master"					: "master",
	"hide-template"				: true
--}}

{{> banner/banner-10
	modifiers					= "lg"
	dark						= false
}}

<div class="container container--md container--padded">
	<div id="content" data-overlay='{"title": "{{title}}"}'>
		{{> account/newsletter
			intro		= true
		}}
	</div>
</div>
