{{!--
	"title"						: "Register",
	"desc"						: "...",
	"master"					: "master",
	"hide-template"				: true
--}}

<div class="container container--sm container--padded">
	<div id="content" data-overlay='{"title": "{{title}}"}'>
		{{> account/register }}
	</div>
</div>
