{{!--
	"title"						: "Wallet",
	"desc"						: "...",
	"master"					: "master",
	"hide-template"				: true
--}}

<div class="container container--md container--padded">
	<div id="content" data-overlay='{"title": "{{title}}"}'>
		<div class="card" data-toggle='{"group":"a"}'>
			<h2 class="h4 card__title">
				<span class="media">
					<span class="media__figure">
						<img src="/assets/media/icons/mastercard.png" alt="">
					</span>
					<span class="media__body">
						Mastercard (Default)
					</span>
				</span>
			</h2>
			<div class="card__body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nesciunt, qui minus nostrum suscipit vitae tenetur, quis culpa, aliquid asperiores odio tempora dolorem aperiam praesentium quidem architecto sapiente. Maxime, voluptate.</p>
			</div>
		</div>
		<div class="card card--stacked" data-toggle='{"group":"a"}'>
			<h2 class="h4 card__title">
				<span class="media">
					<span class="media__figure">
						<img src="/assets/media/icons/visa.png" alt="">
					</span>
					<span class="media__body">
						Mastercard
					</span>
				</span>
			</h2>
			<div class="card__body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nesciunt, qui minus nostrum suscipit vitae tenetur, quis culpa, aliquid asperiores odio tempora dolorem aperiam praesentium quidem architecto sapiente. Maxime, voluptate.</p>
			</div>
		</div>
	</div>
</div>
