
/*---
Box
@group			UIComponents/Box
@desc			...
@modifier		box--alt		: Alt
@modifier		box--level		: ...
@todo			Document
@author			Michael Ord
@tags			module
---
<div class="box {modifier}">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quas tenetur iste optio! Accusamus dolor rem quam quos, numquam ipsa debitis. Molestiae consequatur reiciendis ex cum sequi quas, et necessitatibus.</p>
</div>
*/
.box
{
	$parent						: &;
	$padding					: 1rem;

	padding						: $padding;
	margin						: 0 0 1rem 0;
	background					: #fff;

	> *
	{
		&:first-child
		{
			margin-top			: 0;
		}

		&:last-child
		{
			margin-bottom		: 0;
		}
	}

	&--shadow
	{
		box-shadow				: 0 2px 5px rgba(0, 0, 0, .08);
	}

	&--alt
	{
		background				: #eee;
	}

	&--level
	{
		margin-left				: -$padding;
		margin-right			: -$padding;
	}

	& + &
	{
		margin-top				: -$padding;
	}
}
