
/*---
Footer
@group			Page
@desc			...
@todo			Document
@author			Michael Ord
@tags			core,footer
---
...
*/
.page-footer
{
	$parent						: &;

	&__section
	{
		padding					: 1.5rem 0;

		+ hr
		{
			margin				: 0 auto;
			max-width			: $site-width;
		}

		& ~ &
		{

		}
	}
}
