
/*---
Header
@group			Page
@desc			...
@todo			Document
@author			Michael Ord
@tags			core,header,mobile
---
...
*/
.header
{
	$parent						: &;

	height						: 70px;
	z-index						: 800;

	&__inner
	{
		background				: #fff;
		box-shadow				: 0 2px 2px rgba(0, 0, 0, .2);
		position				: fixed;
		top						: 0;
		left					: 0;
		width					: 100%;
		z-index					: 800;

		ul
		{
			list-style			: none;
			display				: table;
			table-layout		: fixed;
			width				: 100%;
			margin				: 0;
			padding				: 0;

			li
			{
				display			: table-cell;
				padding			: 0;
				text-align		: center;
				position		: relative;

				&:first-child
				{
					text-align	: left;
				}

				+ li:not(:last-child)
				{
					border-right: 1px solid #ccc;
				}

				&.active
				{
					background	: #eee;
				}
			}
		}

		a
		{
			color				: inherit;
			display				: block;
			position			: initial;

			&:before
			{
				content			: "";
				position		: absolute;
				top				: 0;
				right			: 0;
				bottom			: 0;
				left			: 0;
			}
		}

		.active
		{
			a
			{
				&:after
				{
					content		: "";
					height		: 3px;
					position	: absolute;
					left		: 0;
					right		: 0;
					bottom		: -3px;
					background	: $clr-primary;
				}
			}
		}

		.icon
		{
			margin				: 0 auto;
			display				: block;
			border-radius		: 50%;
			background			: #fff;
		}
	}

	a
	{
		> span
		{
			display				: inline-block;
			background			: #ccc;
			padding				: 3px;
			margin-top			: 4px;
			line-height			: 1;
			border-radius		: 3px;
		}
	}

	.navicon
	{
		width					: 80px;
	}
}
