
/*---
Mega Menu
@group			Navigation
@desc			...
@todo			Document
@author			Michael Ord
@tags			navigation,megamenu,dropdown
@partial		nav/megamenu
*/
.menu
{
	$parent						: &;

	// TODO: rwemove
	padding						: 8px 0;
	margin						: 0;
	position					: relative;
	z-index						: 600;
	color						: #000;

	&--fixed
	{
		height					: 44px;

		#{$parent}__inner
		{
			box-shadow			: 0 2px 5px rgba(0, 0, 0, .1);
			position			: fixed;
			z-index				: 600;
			top					: 0;
			left				: 0;
			width				: 100%;
			background			: #fff;
		}
	}

	// all links within the menu
	a,
	.a
	{
		padding					: 15px;
		margin					: 0;
		display					: block;
		position				: relative;
		color					: inherit;
		font-weight				: normal;
	}

	// menu levels
	&-level
	{
	}

	// top level menu
	&-level--1
	{
		margin					: 0 auto;
		max-width				: $site-width;

		> #{$parent}-item
		{
			> a,
			> .a
			{

			}
		}

		@include device(lg)
		{
			> #{$parent}-item
			{
				display			: inline-block;
				vertical-align	: top;

				> a,
				> .a
				{

				}
			}
		}
	}

	&-level.megamenu
	{
		@include device(lg)
		{
			position			: absolute;
			left				: 0;
			width				: 100%;
		}
	}

	&-level.dropdown
	{
		@include device(lg)
		{
			position			: absolute;
			left				: 0;
			width				: 100%;

		}
	}

	&-arrow
	{
		height					: 16px;
		width					: 16px;
		position				: absolute;
		right					: 10px;
		top						: 50%;
		transform				: translate(0, -50%);

		.icon
		{
			width				: 100%;
			height				: 100%;
		}

		@include device(lg)
		{
			display				: none;
		}
	}

	//
	&-item
	{
		position				: relative;

		&.has-children
		{
			> a,
			> .a
			{

			}

			> input
			{
				position		: absolute;
			}

			@include device(lg)
			{
				> .dropdown,
				> .megamenu
				{
					transition				: all .3s ease .15s;
					opacity					: 0;
					visibility				: hidden;
					overflow				: hidden;
				}

				&:hover,
				> a:hover +,
				> a:focus +,
				> input:checked ~,
				&.open
				{
					.dropdown,
					.megamenu
					{
						opacity				: 1;
						visibility			: visible;
						overflow			: visible;
					}
				}

				> a,
				> .a
				{
					&:after
					{
						content				: "";
						top					: 100%;
						left				: 50%;
						border				: solid transparent;
						height				: 0;
						width				: 0;
						position			: absolute;
						pointer-events		: none;
						border-color		: rgba(255, 255, 255, 0);
						border-top-color	: #ffffff;
						border-width		: 8px;
						margin-left			: -8px;
						z-index				: 100;

						transition			: all .3s ease .15s;
						opacity				: 0;
						visibility			: hidden;
						overflow			: hidden;
					}
				}

				&:hover > a,
				> a:hover,
				> a:focus
				{
					&:after
					{
						opacity				: 1;
						visibility			: visible;
						overflow			: visible;
					}
				}
			}
		}

		&.has-megamenu
		{
			position			: initial;
		}
	}
}

.megamenu
{
	background					: #eee;

	&__wrapper
	{
		position				: relative;
	}

	@include device(lg)
	{
		&__wrapper
		{

		}
	}
}

.dropdown
{
	background					: #eee;
	min-width					: 150px;

	> li
	{
		white-space				: nowrap;
	}
}

.menu
{
	$parent						: &;
	// top level menu
	&-level--1
	{
		> #{$parent}-item
		{
			> a,
			> .a
			{
				&:before
				{
					content		: "";
					border-left	: 1px solid #000;
					position	: absolute;
					top			: 10px;
					bottom		: 10px;
					left		: 0;
				}
			}

			&:first-child
			{
				> a,
				> .a
				{
					&:before
					{
						display	: none;
					}
				}
			}
		}
	}
}

.megamenu
{
	$parent						: &;

	padding						: 50px 0 0 0;
	background					: #eee;

	a,
	.a
	{
		color					: inherit;
	}

	ul
	{
		margin					: 0;
		padding					: 0;
		list-style				: none;

		li
		{
			margin				: 0;
			padding				: 0;

			a,
			.a
			{
				display			: block;
				padding			: 4px 0;
			}
		}
	}

	&__wrapper
	{
		background				: #fff;
		padding					: 15px 0 25px 0;
	}

	&__container
	{
		position				: relative;
	}

	&__column
	{
		padding					: 0 15px;
	}

	&__content
	{
		min-height				: 240px;
		border-bottom			: 2px solid #ddd;
		padding-bottom			: 10px;
		margin-bottom			: 10px;
	}

	&__title
	{
		font-size				: 16px;
		font-weight				: bold;
		margin					: 0;

		a
		{
			padding				: 8px 0;
			display				: block;
		}
	}

	&__section
	{
		border-top				: 2px solid #ddd;
		padding					: 10px 0 0 0;

		+ .megamenu__section
		{
			margin-top			: 10px;
		}
	}

	.more
	{
		font-weight				: 600;
		padding					: 0;
	}

	.more--all
	{
		position				: absolute;
		top						: -50px;
		left					: 15px;
	}

	.ui
	{
		position				: absolute;
		right					: 15px;
		top						: -50px;
	}
}

.megamenu,
.dropdown
{
	box-shadow					: 0 2px 5px rgba(0, 0, 0, .1);
}
