
<article class="{{modifiers "t" this.modifiers}}">
	<div class="container">
		<figure class="t__media">
			<a href="/templates/article/article.html" class="img">
				{{placeholder 1600 900}}
			</a>
		</figure>
		<h1><a href="/templates/article/article.html">{{lorem 'w4'}}</a></h1>
		{{#if multiuser}}
			{{> person/author }}
		{{/if}}
		<time>{{icon 'time' 'sm'}} 13 February {{year}}</time>
		{{lorem 'p'}}
		<a href="/templates/article/article.html" class="linktmp">Read more</a>
	</div>
</article>
