
<article class="person">
	<div class="img">
		{{placeholder 800 400}}
	</div>
	<div class="immy">
		<div>
			<dl>
				<dt>{{samplename}}</dt>
				<dd>{{sampleposition}}</dd>
			</dl>
		</div>
		<div>
			{{> nav/social
				twitter			= true
				facebook		= true
				instagram		= true
				youtube			= false
			}}
		</div>
	</div>
	{{lorem 'p'}}
</article>
