
<div class="container container--padded">
	<div class="box box--alt">
		<p class="h5">{{lorem 's2'}}</p>
		<p>{{lorem 's3'}}</p>
		<a href="#" class="btn btn--primary">Purchase Now</a>
	</div>
</div>
